html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,  
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  
dl, dt, dd, ol, ul, li, fieldset, form, label, legend 
	vertical-align: baseline
	font-family: inherit
	font-weight: inherit
	font-style: inherit
	font-size: 100%
	outline: 0
	padding: 0
	margin: 0
	border: 0
	&:focus 
		outline: 0
body 
	background: white
	line-height: 1
	color: black
ol, ul 
	list-style: none
table 
	border-collapse: separate
	border-spacing: 0
caption, th, td 
	font-weight: normal
	text-align: left
blockquote:before, blockquote:after, q:before, q:after
	content: ""
blockquote, q 
	quotes: "" ""
html, body
	height: 100%


body
	font-family: "PT Sans", sans-serif
	font-weight: normal
	font-size: 16px
	line-height: 1.3
	min-width: 320px
	background: #FFF
	
.hidden
	display: none
.clear
	clear: both
.overflow
	overflow: hidden

button, a
	color: #272727
	outline: none !important
	-webkit-transition: .3s all
	-moz-transition: .3s all
	-ms-transition: .3s all
	-o-transition: .3s all
	transition: .3s all
	-webkit-appearance: none
	&:focus
		color: inherit
	&:hover
		color: inherit 

.page_wrapper
	position: relative
	width: 100% 
	min-height: 100% 
	overflow: hidden
	margin: 0 auto
	h1, h2, h3, h4, h5
		font-weight: bold 
		line-height: 1.3 
		color: #000 
	h1
		font-family: "Montserrat", sans-serif
		font-weight: bold
		font-size: 48px 
		margin-bottom: 50px 
	h2
		font-family: "Montserrat", sans-serif
		font-weight: bold
		font-size: 48px 
		line-height: 1.3
		margin-bottom: 40px 
	h3
		font-size: 32px 
		margin-bottom: 30px 
	h4
		font-size: 24px 
		margin-bottom: 20px 
	h5
		font-size: 22px 
		margin-bottom: 15px 
	p
		font-weight: normal 
		font-size: 18px 
		line-height: 30px 
		color: #787878
		i
			font-style: italic
		strong
			font-weight: bold 
	.section_title
		position: relative
		width: 100% 
		text-align: left
		font-family: "Montserrat", sans-serif
		font-weight: bold
		font-size: 48px 
		line-height: 60px
		margin-bottom: 50px 
		color: #000
		&.white
			color: #FFF 
		


a:hover, a:focus
	outline: none
	text-decoration: none 
	

section, .main_header, .main_footer
	position: relative


.main_btn
	position: relative
	border: none
	display: inline-block
	vertical-align: top
	background: none
	padding: 24px 28px
	text-align: center
	font-family: "Montserrat", sans-serif
	font-weight: bold 
	font-size: 18px
	line-height: 20px
	text-transform: uppercase
	color: #FFF 
	-webkit-border-radius: 5px 
	border-radius: 5px  
	-webkit-box-shadow: 0px 12px 18px rgba(13,52,69,.3) 
	box-shadow: 0px 12px 18px rgba(13,52,69,.3) 
	&:before, &:after
		content: "" 
		display: block 
		width: 100% 
		height: 100% 
		position: absolute
		top: 0px
		left: 0px
		-webkit-border-radius: 5px 
		border-radius: 5px   
		-webkit-transition: .3s all 
		-moz-transition: .3s all 
		-ms-transition: .3s all 
		-o-transition: .3s all 
		transition: .3s all 
		background: #549abe
		background: -moz-linear-gradient(top, #549abe 0%, #66a5c4 1%, #4c96bb 3%, #4d96bb 6%, #4893b9 7%, #4391b7 15%, #3c8cb4 19%, #3e8eb5 21%, #388ab3 22%, #3488b1 25%, #2981ad 43%, #257fac 45%, #207caa 54%, #1b79a8 57%, #1e7ba9 58%, #1a79a8 60%, #1c7aa8 61%, #1576a6 66%, #1877a7 67%, #1274a4 73%, #1375a5 76%, #0d71a3 81%, #1274a4 82%, #0c70a2 91%, #0e72a3 94%, #086ea1 100%)
		background: -webkit-linear-gradient(top, #549abe 0%,#66a5c4 1%,#4c96bb 3%,#4d96bb 6%,#4893b9 7%,#4391b7 15%,#3c8cb4 19%,#3e8eb5 21%,#388ab3 22%,#3488b1 25%,#2981ad 43%,#257fac 45%,#207caa 54%,#1b79a8 57%,#1e7ba9 58%,#1a79a8 60%,#1c7aa8 61%,#1576a6 66%,#1877a7 67%,#1274a4 73%,#1375a5 76%,#0d71a3 81%,#1274a4 82%,#0c70a2 91%,#0e72a3 94%,#086ea1 100%)
		background: linear-gradient(to bottom, #549abe 0%,#66a5c4 1%,#4c96bb 3%,#4d96bb 6%,#4893b9 7%,#4391b7 15%,#3c8cb4 19%,#3e8eb5 21%,#388ab3 22%,#3488b1 25%,#2981ad 43%,#257fac 45%,#207caa 54%,#1b79a8 57%,#1e7ba9 58%,#1a79a8 60%,#1c7aa8 61%,#1576a6 66%,#1877a7 67%,#1274a4 73%,#1375a5 76%,#0d71a3 81%,#1274a4 82%,#0c70a2 91%,#0e72a3 94%,#086ea1 100%)
		-webkit-box-shadow: inset 0px -2px 0px #095276 
		box-shadow: inset 0px -2px 0px #095276 
	&:after
		opacity: 0
		z-index: 1
		background: #086ea1
		background: -moz-linear-gradient(top, #086ea1 0%, #0e72a3 6%, #0c70a2 9%, #1274a4 18%, #0d71a3 19%, #1375a5 24%, #1274a4 27%, #1877a7 33%, #1576a6 34%, #1c7aa8 39%, #1a79a8 40%, #1e7ba9 42%, #1b79a8 43%, #207caa 46%, #257fac 55%, #2981ad 57%, #3488b1 75%, #388ab3 78%, #3e8eb5 79%, #3c8cb4 81%, #4391b7 85%, #4893b9 93%, #4d96bb 94%, #4c96bb 97%, #66a5c4 99%, #549abe 100%)
		background: -webkit-linear-gradient(top, #086ea1 0%,#0e72a3 6%,#0c70a2 9%,#1274a4 18%,#0d71a3 19%,#1375a5 24%,#1274a4 27%,#1877a7 33%,#1576a6 34%,#1c7aa8 39%,#1a79a8 40%,#1e7ba9 42%,#1b79a8 43%,#207caa 46%,#257fac 55%,#2981ad 57%,#3488b1 75%,#388ab3 78%,#3e8eb5 79%,#3c8cb4 81%,#4391b7 85%,#4893b9 93%,#4d96bb 94%,#4c96bb 97%,#66a5c4 99%,#549abe 100%)
		background: linear-gradient(to bottom, #086ea1 0%,#0e72a3 6%,#0c70a2 9%,#1274a4 18%,#0d71a3 19%,#1375a5 24%,#1274a4 27%,#1877a7 33%,#1576a6 34%,#1c7aa8 39%,#1a79a8 40%,#1e7ba9 42%,#1b79a8 43%,#207caa 46%,#257fac 55%,#2981ad 57%,#3488b1 75%,#388ab3 78%,#3e8eb5 79%,#3c8cb4 81%,#4391b7 85%,#4893b9 93%,#4d96bb 94%,#4c96bb 97%,#66a5c4 99%,#549abe 100%)  
	span
		position: relative
		z-index: 2 
	&:focus
		color: #FFF 
	&:hover
		color: #FFF 
		&:after	
			opacity: 1
	&:active	
		-webkit-transform: scale(.9) 
		-moz-transform: scale(.9) 
		-ms-transform: scale(.9) 
		-o-transform: scale(.9) 
		transform: scale(.9) 



.price_btn
	position: relative
	border: none
	display: inline-block
	vertical-align: top
	background: none
	padding: 4px 
	text-align: center
	font-family: "Montserrat", sans-serif
	font-weight: bold 
	font-size: 22px
	line-height: 24px
	text-align: left
	color: #FFF 
	-webkit-border-radius: 5px 
	border-radius: 5px  
	&:before, &:after
		content: "" 
		display: block 
		width: 100% 
		height: 100% 
		position: absolute
		top: 0px
		left: 0px
		-webkit-border-radius: 7px 
		border-radius: 7px   
		-webkit-transition: .3s all 
		-moz-transition: .3s all 
		-ms-transition: .3s all 
		-o-transition: .3s all 
		transition: .3s all 
		background: #0397c7
		background: -moz-linear-gradient(left, #0397c7 0%, #018dbe 33%, #017daf 73%, #0176a9 100%)
		background: -webkit-linear-gradient(left, #0397c7 0%,#018dbe 33%,#017daf 73%,#0176a9 100%)
		background: linear-gradient(to right, #0397c7 0%,#018dbe 33%,#017daf 73%,#0176a9 100%)
	&:after
		opacity: 0
		z-index: 1
		background: #0176a9
		background: -moz-linear-gradient(left, #0176a9 0%, #017daf 27%, #018dbe 67%, #0397c7 100%)
		background: -webkit-linear-gradient(left, #0176a9 0%,#017daf 27%,#018dbe 67%,#0397c7 100%)
		background: linear-gradient(to right, #0176a9 0%,#017daf 27%,#018dbe 67%,#0397c7 100%)
	span
		position: relative
		display: block 
		z-index: 2 
		border: 1px solid #63B6D4 
		-webkit-border-radius: 5px 
		border-radius: 5px 
		padding: 12px 22px
		padding-left: 154px 
		-webkit-transition: .3s all 
		-moz-transition: .3s all 
		-ms-transition: .3s all 
		-o-transition: .3s all 
		transition: .3s all 
	img
		position: absolute
		z-index: 4
		width: 100% 
		max-width: 139px 
		top: -21px 
		left: 12px 
	&:focus
		color: #FFF 
	&:hover
		color: #FFF 
		&:after	
			opacity: 1


.calc_btn
	position: relative
	border: none
	display: inline-block
	vertical-align: top
	background: none
	padding: 4px 
	text-align: center
	font-family: "Montserrat", sans-serif
	font-weight: bold 
	font-size: 22px
	line-height: 24px
	text-align: left
	color: #FFF 
	-webkit-border-radius: 5px 
	border-radius: 5px  
	&:before, &:after
		content: "" 
		display: block 
		width: 100% 
		height: 100% 
		position: absolute
		top: 0px
		left: 0px
		-webkit-border-radius: 7px 
		border-radius: 7px   
		-webkit-transition: .3s all 
		-moz-transition: .3s all 
		-ms-transition: .3s all 
		-o-transition: .3s all 
		transition: .3s all 
		background: #0397c7
		background: -moz-linear-gradient(left, #0397c7 0%, #018dbe 33%, #017daf 73%, #0176a9 100%)
		background: -webkit-linear-gradient(left, #0397c7 0%,#018dbe 33%,#017daf 73%,#0176a9 100%)
		background: linear-gradient(to right, #0397c7 0%,#018dbe 33%,#017daf 73%,#0176a9 100%)
	&:after
		opacity: 0
		z-index: 1
		background: #0176a9
		background: -moz-linear-gradient(left, #0176a9 0%, #017daf 27%, #018dbe 67%, #0397c7 100%)
		background: -webkit-linear-gradient(left, #0176a9 0%,#017daf 27%,#018dbe 67%,#0397c7 100%)
		background: linear-gradient(to right, #0176a9 0%,#017daf 27%,#018dbe 67%,#0397c7 100%)
	span
		position: relative
		display: block 
		z-index: 2 
		border: 1px solid #63B6D4 
		-webkit-border-radius: 5px 
		border-radius: 5px 
		padding: 12px 22px
		padding-left: 125px 
		-webkit-transition: .3s all 
		-moz-transition: .3s all 
		-ms-transition: .3s all 
		-o-transition: .3s all 
		transition: .3s all 
	img
		position: absolute
		z-index: 4
		width: 100% 
		max-width: 118px 
		top: -12px 
		left: 8px 
	&:focus
		color: #FFF 
	&:hover
		color: #FFF 
		&:after	
			opacity: 1


// HEADER
.main_header
	position: relative
	z-index: 20 
	width: 100% 
	background: none
	padding-bottom: 34px 
	background: #FFF 
	&.index_header
		position: absolute 
		top: 0px
		left: 0px 
		background: none 
	&.with_video
		.top_header 
			.header_tels 
				.text 
					.tel_info, .time_info	
						color: #FFF 
				ul
					&:before
						background: url("../img/tel_icon_white.png") no-repeat center center
						-webkit-background-size: 100% 100% 
						-o-background-size: 100% 100% 
						background-size: 100% 100%   
					li
						color: #FFF 
						a
							font-weight: bold 
							color: #FFF 
							&:hover
								color: #016A9E 
			.logo
				.white_logo
					display: block 
				.dark_logo
					display: none 
	.top_header
		position: relative
		width: 100% 
		.container
			position: relative
			display: -webkit-box
			display: -moz-box
			display: -ms-flexbox
			display: -webkit-flex
			display: flex
			-ms-flex-wrap: wrap
			flex-wrap: wrap
			-webkit-align-items: center 
			align-items: center 
			padding-top: 20px 
			padding-bottom: 20px  
		.logo
			position: relative
			width: 100% 
			max-width: 410px
			margin: 0px  
			img
				max-width: 100% 
			.white_logo
				display: none 
		.mobile_tel_btn
			display: none 
			width: 70px 
			height: 70px
			margin-right: -15px  
			background: url("../img/tel_icon_mobile.png") no-repeat center center #00669A 
			-webkit-background-size: 41px 41px 
			-o-background-size: 41px 41px 
			background-size: 41px 41px 
			border: none 
			&.open
				background-color: #005987 
		.header_tels
			position: relative
			margin-left: auto 
			max-width: calc(100% - 430px) 
			display: -webkit-box
			display: -moz-box
			display: -ms-flexbox
			display: -webkit-flex
			display: flex
			-ms-flex-wrap: wrap
			flex-wrap: wrap
			-webkit-align-items: center 
			align-items: center 
			.text
				margin-left: auto
				margin-right: 35px 
				text-align: right
				.tel_info
					position: relative
					color: #413e3e
					font-weight: normal 
					font-size: 24px 
					line-height: 1.2
				.time_info	
					color: #8C8C8C  
					font-size: 18px 
					line-height: 30px 
			.mobile_info
				display: none
				color: #777 
				font-size: 18px
				line-height: 24px
				text-align: right
				width: 100% 
			ul
				position: relative
				width: auto 
				list-style: none
				padding-left: 94px 
				&:before
					content: "" 
					display: block 
					width: 68px 
					height: 68px
					background: url("../img/tel_icon.png") no-repeat center center
					-webkit-background-size: 100% 100% 
					-o-background-size: 100% 100% 
					background-size: 100% 100%   
					position: absolute
					top: 0px
					left: 0px
					bottom: 0px
					margin: auto   
				li
					position: relative
					width: 100% 
					color: #0C0C0C 
					font-size: 24px 
					line-height: 30px
					a
						position: relative
						display: inline-block
						vertical-align: top
						font-size: 24px 
						line-height: 28px  
						color: #0C0C0C 
						&:hover
							color: #016A9E 
				li:last-of-type
					margin-bottom: 0px
	.nav_block
		position: absolute
		bottom: -34px 
		width: 100% 
		left: 0px  
		z-index: 30
		&.fixed_nav
			position: fixed
			bottom: auto 
			top: 0px 
			.container
				&:before, &:after
					width: 100% 
			.nav
				box-shadow: 0px 16px 28px rgba(0,29,61,.0)
		.container
			position: relative
			&:before, &:after
				content: "" 
				display: block 
				width: 0%
				height: 100% 
				position: absolute
				z-index: -1 
				top: 0px
				left: 98%
				-webkit-transition: .3s all 
				-moz-transition: .3s all 
				-ms-transition: .3s all 
				-o-transition: .3s all 
				transition: .3s all 
				background: #00669A  
			&:after
				left: auto 
				right: 98%   
		.nav
			position: relative
			width: 100% 
			list-style: none
			display: -webkit-box
			display: -moz-box
			display: -ms-flexbox
			display: -webkit-flex
			display: flex
			-ms-flex-wrap: nowrap
			flex-wrap: nowrap  
			-webkit-justify-content: space-between
			justify-content: space-between
			background: #00669A 
			-webkit-border-radius: 5px 
			border-radius: 5px 
			display: table 
			box-shadow: 0px 16px 28px rgba(0,29,61,.21)
			li
				position: relative
				display: table-cell
				vertical-align: middle
				border-right: 1px solid #1875a4 
				&.active
					> a
						background: #043B58 
				&:before
					content: "" 
					display: block 
					width: 1px 
					height: 100% 
					position: absolute
					top: 0px
					right: 0px
					background: #005C8B   
				a
					position: relative
					display: block 
					width: 100% 
					text-decoration: none
					font-weight: bold 
					font-size: 16px 
					line-height: 20px
					padding: 24px 30px  
					text-transform: uppercase
					color: #FFF 
					text-align: center
					&:hover
						background: #043B58 
				.dropdown_menu
					position: absolute
					display: none
					top: 100% 
					left: 0px
					background: #043B58
					list-style: none
					max-height: calc(100vh - 68px)
					-webkit-border-radius: 0px 0px 5px 5px 
					border-radius: 0px 0px 5px 5px     
					min-width: 302px 
					overflow: auto
					padding-left: 1px 
					padding-right: 1px 
					padding-bottom: 10px 
					-webkit-box-shadow: 10px 10px 20px rgba(0,0,0,.12) 
					box-shadow: 10px 10px 20px rgba(0,0,0,.12) 
					li
						position: relative
						display: block 
						width: 100% 
						border: none
						&.active
							> a
								background: #00669a
						&:before
							display: none 
						a
							text-transform: none
							font-size: 18px 
							display: block 
							width: 100% 
							padding: 12px 30px 
							width: auto 
							text-align: left
							font-weight: normal 
							font-size: 18px 
							-webkit-border-radius: 0px 
							border-radius: 0px 
							&:hover
								background: #00669a 
					> li:first-of-type, > li:last-of-type
						a
							-webkit-border-radius: 0px 
							border-radius: 0px 
			> li:last-of-type
				border-right: none 
				&:before
					display: none 
				a
					-webkit-border-top-right-radius: 5px 
					border-top-right-radius: 5px 
				.dropdown_menu
					left: auto 
					right: 0px 
			> li:first-of-type
				a
					-webkit-border-top-left-radius: 5px 
					border-top-left-radius: 5px 
				.dropdown_menu
					min-width: 395px 
			.dropdown
				&.open > a
					background: #043B58 
				







// SANDWICH BUTTON
.toggle_menu
	height: 68px
	width: calc(100% - 30px)
	position: absolute
	top: 100% 
	left: 15px
	right: 15px  
	z-index: 31
	border: none
	background: #00669a
	padding: 0px 
	display: none 
	margin: 0px auto
	-webkit-border-radius: 5px 
	border-radius: 5px 
	margin-top: -34px 
	&.active
		&:hover
			.sandwich
				span
					background: #FFF
		.sandwich
			-webkit-transform: scale(.7) 
			-moz-transform: scale(.7) 
			-ms-transform: scale(.7) 
			-o-transform: scale(.7) 
			transform: scale(.7) 
			span
				background: #FFF
			.sw-topper
				top: 14px
				transform: rotate(135deg)
			.sw-bottom
				top: 9px
				transform: rotate(-135deg)
			.sw-footer
				opacity: 0
				top: 0
				transform: rotate(180deg)

.sandwich 
	width: 59px
	height: 34px 
	position: absolute
	top: 3px
	bottom: 0
	left: 0
	right: 0
	margin: auto
	display: block 
	-webkit-transition: .3s all 
	-moz-transition: .3s all 
	-ms-transition: .3s all 
	-o-transition: .3s all 
	transition: .3s all 
	span
		position: relative
		display: block 
		background: #FFF
		border: none
		-webkit-border-radius: 3px 
		border-radius: 3px  
		-webkit-transition: .5s all
		-moz-transition: .5s all
		-ms-transition: .5s all
		transition: .5s all
.sw-topper
	top: 0
	width: 100%
	height: 6px
	transition: transform 0.5s, top 0.2s  
	// transition-delay: 0.2s, 0s;
.sw-bottom
	width: 100%
	height: 6px
	top: 8px
	transition: transform 0.5s, top 0.2s
	transition-delay: 0.2s, 0s
.sw-footer
	width: 100%
	height: 6px
	top: 16px
	transition: all 0.5s
	transition-delay: 0.1s





// TO TOP
.to_top
	display: block
	opacity: 0 
	width: 72px
	height: 66px
	outline: none
	text-decoration: none  
	border: none 
	-webkit-border-radius: 5px 
	border-radius: 5px   
	background: #dc0030
	position: fixed
	z-index: 20 
	bottom: 20px 
	right: 20px 
	-webkit-box-shadow: inset 0px -3px 0px #aa0025, 0px 10px 16px rgba(0,0,0,.28)
	box-shadow: inset 0px -3px 0px #aa0025, 0px 10px 16px rgba(0,0,0,.28)
	-webkit-transform: scale(0) 
	-moz-transform: scale(0) 
	-ms-transform: scale(0) 
	-o-transform: scale(0) 
	transform: scale(0) 
	&:hover
		background: #aa0025 
	&.active
		-webkit-transform: scale(1) 
		-moz-transform: scale(1) 
		-ms-transform: scale(1) 
		-o-transform: scale(1) 
		transform: scale(1) 
		opacity: 1 
	&:before
		content: "" 
		display: block
		width: 49px 
		height: 26px 
		background: url("../img/to_top.png") no-repeat center center
		-webkit-background-size: 100% 100% 
		-o-background-size: 100% 100% 
		background-size: 100% 100%
		position: absolute
		z-index: 2 
		top: 0px
		left: 0px
		right: 0px
		bottom: 0px
		margin: auto 






// FOOTER
.main_footer
	position: relative
	z-index: 5 
	width: 100% 
	background: #FFF 
	-webkit-box-shadow: 0px 0px 35px rgba(0,0,0,.3) 
	box-shadow: 0px 0px 35px rgba(0,0,0,.3) 
	padding-top: 30px 
	padding-bottom: 30px 
	.container
		position: relative
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap
		padding: 0px
		-webkit-align-items: center
		align-items: center
	.col
		width: 50%
		-ms-flex-preferred-size: auto
		flex-basis: auto
		-ms-flex-positive: 0
		flex-grow: 0
	.col:first-of-type
		text-align: right
	.logo
		display: inline-block
		vertical-align: top
		max-width: 189px 
		img
			width: 100% 
	.copyright, p 
		color: #323232 
		font-size: 18px 
		line-height: 20px
		margin: 0px  
		padding-left: 25px 






// CONTACTS SECTION
.contacts_section
	position: relative
	width: 100% 
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-ms-flex-wrap: wrap
	flex-wrap: wrap
	.section_title
		font-family: "PT Sans", sans-serif
		text-align: left 
	#map
		width: 50% 
	.wrapper
		position: relative
		width: 50%
		background: url("../img/contacts_bg.jpg") no-repeat center center
		-webkit-background-size: cover 
		-o-background-size: cover 
		background-size: cover  
		&:before
			content: "" 
			display: block 
			width: 100% 
			height: 100% 
			position: absolute
			top: 0px
			left: 0px
			background: rgba(27,30,36,.8)   
	.inner
		position: relative
		z-index: 2 
		width: 100% 
		max-width: 650px
		padding: 60px 15px 
		padding-bottom: 70px 
		padding-left: 110px 
	.tels
		position: relative
		width: 100% 
		padding-left: 46px 
		color: #FFF 
		font-size: 18px 
		line-height: 30px
		font-weight: bold 
		margin-bottom: 15px  
		&:before
			content: "" 
			display: block 
			width: 32px
			height: 32px 
			background: url("../img/tel_icon_contacts.png") no-repeat center center
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100% 
			position: absolute
			top: 0px
			left: 0px
			bottom: 0px
			margin: auto
		strong
			width: 100% 
			font-weight: bold 
			display: block 
		a
			display: inline-block
			vertical-align: top
			color: #FFF 
			text-decoration: none
			font-size: 24px 
			&:hover
				color: #dc0030 
	.place, .time
		position: relative
		width: 100% 
		margin-bottom: 15px 
		padding-left: 46px 
		color: #FFF 
		font-size: 18px 
		line-height: 24px
		margin-bottom: 15px  
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap		
		-webkit-align-items: center
		align-items: center
		min-height: 44px 
		&:before
			content: "" 
			display: block 
			width: 27px 
			height: 34px 
			background: url("../img/place_icon.png") no-repeat center center
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100%  
			position: absolute
			top: 0px
			left: 0px
			bottom: 0px
			margin: auto   
		strong
			width: 100% 
			font-weight: bold 
			display: block 
	.time
		&:before
			width: 29px 
			height: 29px 
			background: url("../img/time_icon.png") no-repeat center center
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100%  
	.soc_list
		padding-top: 30px 
		

#map
	.ymaps-2-1-75-balloon
		max-width: 312px 
		width: 312px 
		border: 6px solid #a7010f
		-webkit-border-radius: 15px 
		border-radius: 15px  
		text-align: center
		background: #FFF 
		-webkit-box-sizing: border-box 
		-moz-box-sizing: border-box 
		box-sizing: border-box 
		margin-left: -94px 
		margin-top: -29px 
		.ymaps-2-1-75-balloon__layout
			-webkit-box-sizing: border-box 
			-moz-box-sizing: border-box 
			box-sizing: border-box 
			background: none
		.ymaps-2-1-75-balloon__tail
			left: 37%
			width: 50px
			height: 50px
			margin-bottom: -51px
			background: #a7010f
			&:before, &:after
				display: none 
		.ymaps-2-1-75-balloon__content
			-webkit-box-sizing: border-box 
			-moz-box-sizing: border-box 
			box-sizing: border-box 
			width: 100% 
			margin: 0px
			background: #FFF 
			padding: 30px 15px 
			-webkit-border-radius: 15px 
			border-radius: 15px  
			ymaps
				width: 100% !important
			.fancybox
				display: inline-block
				vertical-align: top
				font-weight: normal 
				font-size: 18px 
				border-bottom: 1px dashed #d40b0c
				color: #D40B0C 
				line-height: 22px  
				margin-top: 5px 
		.ymaps-2-1-75-balloon-content__header
			font-weight: normal 
			color: #3F3F3F 
			font-size: 18px 
		.ymaps-2-1-75-balloon__close
			float: none
			position: absolute
			top: 0px
			right: 0px
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all    
		.ymaps-2-1-75-balloon__close-button
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all    
			height: 30px 



.soc_list
	position: relative
	width: 100% 
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-ms-flex-wrap: wrap
	flex-wrap: wrap		
	-webkit-align-items: center
	align-items: center
	&.dark_soc_list
		li
			.vk_link
				&:before, &:after
					background-image: url("../img/vk_icon_dark.png") 
			.fb_link
				&:before, &:after
					background-image: url("../img/fb_icon_dark.png") 
			.insta_link
				&:before, &:after
					background-image: url("../img/insta_icon_dark.png") 			 			 
			.youtube_link
				&:before, &:after
					background-image: url("../img/youtube_icon_dark.png")
	li
		position: relative
		margin-right: 25px 
		a
			position: relative
			width: 37px 
			height: 37px 
			display: block 
			text-decoration: none
			&:hover
				&:after
					opacity: 1
				&:before
					opacity: 0 
			&:before, &:after
				content: "" 
				display: block 
				background-repeat: no-repeat 
				background-position: center top
				-webkit-background-size: 100%
				-o-background-size: 100% 
				background-size: 100% 
				position: absolute
				top: 0px
				left: 0px
				right: 0px
				bottom: 0px
				margin: auto
				-webkit-transition: .3s all 
				-moz-transition: .3s all 
				-ms-transition: .3s all 
				-o-transition: .3s all 
				transition: .3s all     
			&:after
				background-position: center bottom
				z-index: 2
				opacity: 0   
		.vk_link
			&:before, &:after
				width: 25px 
				height: 31px 
				background-image: url("../img/vk_icon.png") 
		.fb_link
			&:before, &:after
				width: 19px 
				height: 37px 
				background-image: url("../img/fb_icon.png") 
		.insta_link
			&:before, &:after
				width: 32px 
				height: 31px 
				background-image: url("../img/insta_icon.png") 			 			 
		.youtube_link
			&:before, &:after
				width: 28px 
				height: 33px 
				background-image: url("../img/youtube_icon.png")
		.drive2_link
			background: url("../img/drive2.png") no-repeat center center
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100% 
			width: 80px 
			height: 33px 
			&:before, &:after
				display: none 			






// MAIN SECTION
.main_section
	position: relative
	width: 100% 
	background: url("../img/sky.jpg") no-repeat center top #FFF
	-webkit-background-size: 100% 
	-o-background-size: 100% 
	background-size: 100%  
	&:before
		content: "" 
		display: block 
		width: 709px 
		height: 503px 
		background: url("../img/bg_angle.png") no-repeat 
		-webkit-background-size: 100% 100% 
		-o-background-size: 100% 100% 
		background-size: 100% 100% 
		position: absolute
		right: 0px
		bottom: 0px  
	&.with_video
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap
		-webkit-align-content: center
		align-content: center
		height: 100vh 
		&:before
			content: "" 
			display: block 
			width: 100% 
			height: 100% 
			position: absolute
			top: 0px
			left: 0px
			background: rgba(0,0,0,.4)   
		.container
			position: relative
			padding-top: 255px 
			padding-bottom: 200px 
			-webkit-align-content: center
			align-content: center
			height: auto
			min-height: 0px
			max-height: none  
		.main_title, p
			color: #FFF 
	.video_bg
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		overflow: hidden
		z-index: 0
		background: url(../img/video_bg.jpg) no-repeat center center
		background-size: cover
		&:before
			content: "" 
			display: block 
			width: 100% 
			height: 100% 
			position: absolute
			z-index: 1 
			top: 0px
			left: 0px
			right: 0px
			bottom: 0px
			background: rgba(19,27,29,.7)   
		video
			position: absolute
			top: 0
			left: 0
			width: 100% 
			height: 100% 
			min-width: 100%
			min-height: 100%
			object-fit: cover
	.container
		position: relative
		z-index: 2 
		padding-top: 255px 
		padding-bottom: 150px 
		height: 100vh
		max-height: 940px 
		min-height: 900px 
	.main_title
		position: relative
		font-weight: 900
		font-size: 55px 
		line-height: 60px
		color: #171E22 
		margin-bottom: 20px   
	p
		position: relative
		color: #171E22 
		font-size: 18px 
		line-height: 30px
		margin-bottom: 28px 
		max-width: 622px  
	.main_btn
		text-transform: none
	.main_img
		position: absolute
		right: -170px
		bottom: 0px 
		max-width: 1560px 







// RUST SECTION
.rust_section
	position: relative
	width: 100% 
	background: #F2F2F2 
	padding-top: 70px 
	padding-bottom: 65px
	.tablet_br
		display: none   
	.col
		width: 50% 
		-ms-flex-preferred-size: auto
		flex-basis: auto
		-ms-flex-positive: 0
		flex-grow: 0
	p
		margin-bottom: 25px 
	h4
		margin-bottom: 30px 
	h5, .list_title
		margin-bottom: 0px
		font-size: 18px 
		line-height: 30px
	ul
		position: relative
		width: 100% 
		list-style: none
		margin-bottom: 25px 
		li
			position: relative
			width: 100% 
			color: #787878 
			font-size: 18px 
			line-height: 30px
			margin: 0px
			text-align: left
			padding-left: 18px 
			margin-bottom: 0px 
			&:before
				content: "" 
				display: block 
				width: 7px 
				height: 10px
				background: #DC0030 
				position: absolute 
				top: 10px
				left: 2px  
				-webkit-transform: skewX(-45deg) 
				-moz-transform: skewX(-45deg) 
				-ms-transform: skewX(-44deg) 
				-o-transform: skewX(-44deg) 
				transform: skewX(-44deg) 
	figure
		position: relative
		width: 100% 
		margin-bottom: 65px 
	.video_link
		position: relative
		width: 100% 
		height: 402px 
		display: block 
		text-decoration: none
		line-height: 0
		background-repeat: no-repeat 
		background-position: center center
		-webkit-background-size: cover 
		-o-background-size: cover 
		background-size: cover  
		margin-bottom: 15px 
		&:hover
			&:before
				opacity: .7 
		&:before
			content: "" 
			display: block 
			width: 100% 
			height: 100% 
			position: absolute
			top: 0px
			left: 0px
			background: #000
			opacity: .5
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all    
		&:after
			content: ""
			display: block 
			width: 94px 
			height: 94px 
			background: url("../img/play_video.png") no-repeat center center
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100% 
			position: absolute
			top: 0px
			left: 0px
			right: 0px
			bottom: 0px
			margin: auto
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all      
	figcaption		 
		position: relative
		font-weight: bold 
		color: #242424 
		font-size: 24px
		line-height: 30px
		margin: 0px  






// SERVICE SECTION
.service_section
	position: relative
	width: 100% 
	padding-top: 90px 
	padding-bottom: 110px 
	text-align: center
	background: url("../img/bg_angle_2.png") no-repeat right bottom
	.section_title
		text-align: center
		margin-bottom: 60px 
	.service_item
		width: 33.333%
		padding: 0px 15px
		margin-bottom: 35px   
	.service_item:nth-of-type(3)
		.icon
			img
				top: 40px 
	.service_item:nth-of-type(5)
		.icon
			img
				top: 80px 
	.service_item:nth-of-type(6)
		.icon
			img
				top: 40px 
	.service_item:nth-of-type(9)
		.icon
			img
				top: 60px 
	.calc_btn
		margin-top: 70px 			


.service_item
	position: relative
	width: 100% 
	text-align: center
	display: block 
	text-decoration: none
	&:hover
		p
			color: #016A9E 
			span
				border-color: #6c9abb
		.icon	
			&:before
				opacity: 1 
	.icon
		position: relative
		width: 100% 
		height: 300px 
		text-align: center
		-webkit-transition: .3s all 
		-moz-transition: .3s all 
		-ms-transition: .3s all 
		-o-transition: .3s all 
		transition: .3s all 
		&:before
			content: "" 
			display: block 
			width: 100% 
			height: 100% 
			width: 271px 
			height: 233px 
			background: url("../img/hover_icon.png") no-repeat center center
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100%  
			position: absolute
			top: -100px
			left: -100px
			right: -100px
			bottom: -100px
			margin: auto
			opacity: 0   
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all   
		img
			max-width: 100% 
			max-height: 100% 
			position: absolute
			top: 0px
			left: 0px
			right: 0px
			bottom: 0px
			margin: auto    
	p
		font-weight: normal 
		font-size: 20px 
		line-height: 1.1
		color: #000 
		text-align: center
		width: 100% 
		span
			display: inline 
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all 
			border-bottom: 1px solid rgba(255,255,255,.0)






// ABOUT TECHNOLOGY 
.about_technology
	position: relative
	width: 100% 
	padding-top: 110px 
	padding-bottom: 80px 
	background: url("../img/technology_bg.jpg") no-repeat center center fixed
	-webkit-background-size: cover 
	-o-background-size: cover 
	background-size: cover 
	&:before
		content: "" 
		display: block 
		width: 100% 
		height: 100% 
		position: absolute
		top: 0px
		left: 0px
		background: rgba(25,28,34,.66)   
	.section_title
		margin-bottom: 50px 
	.item
		position: relative
		width: 50%
		padding-left: 15px 
		padding-right: 15px 
		margin-bottom: 40px 
		text-align: center
		iframe
			position: relative
			display: block 
			width: 100% 
			height: 357px 
			margin-bottom: 20px 
			-webkit-box-shadow: 0px 12px 30px rgba(0,0,0,.26) 
			box-shadow: 0px 12px 30px rgba(0,0,0,.26) 
		p
			position: relative
			font-weight: normal 
			font-size: 24px 
			line-height: 30px
			color: #FFF 
			max-width: 412px 
			margin: 0px auto






// GARANT SECTION
.garant_section
	position: relative
	width: 100% 
	padding-top: 90px 
	padding-bottom: 90px 
	background: #EFF2F5 
	.section_title
		line-height: 1.2  
	ul
		position: relative
		width: 50% 
		padding: 0px 15px
		list-style: none
		li
			position: relative
			width: 100% 
			margin-bottom: 30px 
			font-weight: normal
			color: #787878 
			font-size: 18px 
			line-height: 30px
			&:before
				content: "" 
				position: relative
				top: 7px 
				display: inline-block
				vertical-align: top
				width: 15px 
				height: 13px 
				background: url("../img/list_check.png") no-repeat center center
				-webkit-background-size: 100% 100% 
				-o-background-size: 100% 100% 
				background-size: 100% 100%
				margin-right: 5px   








// GALLERY SECTION
.gallery_section
	position: relative
	width: 100% 
	padding-top: 90px 
	padding-bottom: 10px 
	.section_title
		margin-bottom: 45px 


.slider_wrapper
	position: relative
	width: 100% 
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-ms-flex-wrap: wrap
	flex-wrap: wrap


.gallery_slider
	position: relative
	width: calc(100% - 330px)
	margin: 0px 
	.swiper-slide
		position: relative
		height: 654px 
		a, .fancybox
			position: relative
			display: block 
			width: 100% 
			height: 100% 
			line-height: 0
			text-decoration: none
			background-repeat: no-repeat 
			background-position: center center
			-webkit-background-size: cover 
			-o-background-size: cover 
			background-size: cover  
	.prev_slide, .next_slide
		position: absolute
		top: 50%
		width: 65px 
		height: 86px
		background: rgba(27,31,39,.7)   
		margin-top: -43px 
		left: 0px
		&:hover
			&:after
				opacity: 1 
			&:before
				opacity: 0 
		&:before, &:after
			content: "" 
			display: block 
			width: 28px 
			height: 53px 
			background-image: url("../img/slider_arrow.png")
			background-repeat: no-repeat 
			background-position: center center 
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100%  
			position: absolute
			top: 0px
			left: 0px
			right: 0px
			bottom: 0px
			margin: auto    
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all 
		&:after
			z-index: 2
			opacity: 0  
			background-image: url("../img/slider_arrow_hover.png")
	.next_slide
		left: auto 
		right: 0px  
		&:before, &:after
			-webkit-transform: rotate(180deg) 
			-moz-transform: rotate(180deg) 
			-ms-transform: rotate(180deg) 
			-o-transform: rotate(180deg) 
			transform: rotate(180deg) 
.gallery_thumbnails
	position: relative
	width: 300px 
	overflow: hidden
	max-height: 654px 
	margin: 0px 
	margin-left: auto 
	-webkit-justify-content: space-between
	justify-content: space-between
	.swiper-wrapper
		-webkit-flex-direction: row 
		-ms-flex-direction: row 
		flex-direction: row 
		-webkit-justify-content: space-between
		justify-content: space-between
		width: 100% !important 
	.swiper-slide
		width: calc(50% - 10px)
		position: relative
		background-repeat: no-repeat 
		background-position: center center
		-webkit-background-size: cover 
		-o-background-size: cover 
		background-size: cover  
		cursor: pointer
		line-height: 0 
		margin-top: 0px !important 
		&:hover
			&:before
				opacity: .4 
		&:before
			content: "" 
			display: block 
			width: 100% 
			height: 100% 
			position: absolute
			top: 0px
			left: 0px 
			background: #FFF 
			opacity: .0
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all  
		&:after
			content: "" 
			display: block 
			width: 100% 
			height: 100% 
			position: absolute
			top: 0px
			left: 0px
			border: 2px solid #d40b0c
			opacity: .0
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all      
			background: url("../img/triangle.png") no-repeat right bottom
	.swiper-slide-thumb-active
		&:before
			opacity: .4 
		&:after
			opacity: 1 
	.swiper-slide:nth-of-type(2n+2)
		margin-left: 0px !important 






// SECTION ABOUT
.section_about
	position: relative
	width: 100% 
	padding-top: 80px 
	padding-bottom: 100px 
	min-height: 478px 
	background: url("../img/bg_angle_2.png") no-repeat right bottom
	.wrapper
		position: relative
		max-width: 710px 
		width: 100% 
	.section_title
		margin-bottom: 25px 
	p
		color: #787878 
		font-size: 18px 
		line-height: 30px
		margin-bottom: 25px  
		strong
			color: #000
	a
		position: relative
		display: inline-block
		vertical-align: top
		color: #0170A3 
		text-decoration: underline
		&:hover
			color: #b72026
	.car_img
		position: absolute
		bottom: -20px
		left: 100%  
		margin-left: 50px 





.news_section
	position: relative
	width: 100% 
	padding-top: 90px 
	padding-bottom: 60px 
	background: #EFF2F5 
	.section_title
		text-align: center
	.wrapper
		position: relative
		width: 100% 
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap
	.news_item
		width: calc(33.333% - 20px)
		margin-bottom: 30px 
		margin-right: 30px 
	.news_item:nth-of-type(3n+3)
		margin-right: 0px 
		
.news_item
	position: relative
	width: 100% 
	padding-bottom: 60px 
	.item_img
		position: relative
		width: 100% 
		margin-bottom: 20px 
		line-height: 0 
		display: block 
		line-height: 0 
		&:before
			content: "" 
			display: block 
			width: 100% 
			height: 100% 
			position: absolute
			top: 0px
			left: 0px
			background: #000
			opacity: 0
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all     
		&:hover
			&:before
				opacity: .5 
		img
			width: 100% 
	.item_text
		position: relative
		width: 100% 
		.title
			position: relative
			display: inline-block
			vertical-align: top
			font-weight: bold 
			font-size: 22px 
			line-height: 30px
			color: #000
			margin-bottom: 25px 
			&:hover
				color: #D40B0C 
		p
			color: #787878 
			font-size: 18px 
			line-height: 30px
			margin: 0px  
	.date
		position: absolute
		left: 0px
		bottom: 10px
		color: #787878 
		font-size: 18px 
		line-height: 30px
		margin: 0px    






// FAQ SECTION
.faq_section
	position: relative
	width: 100% 
	padding-top: 90px 
	padding-bottom: 90px 
	background: url("../img/bg_angle_2.png") no-repeat right bottom
	.section_title
		text-align: center
		margin-bottom: 50px 



.spoiler_item
	position: relative
	width: 100% 
	margin-bottom: 20px 
	border: 1px solid #D4D4D4 
	-webkit-border-radius: 5px 
	border-radius: 5px 
	background: #FFF 
	-webkit-transition: border-color .3s  
	-moz-transition: border-color .3s  
	-ms-transition: border-color .3s  
	-o-transition: border-color .3s  
	transition: border-color .3s  
	&.active
		border-color: #D40B0C 
		.spoiler
			color: #D40B0C
		.spoiler-body
			display: block 
	.spoiler
		position: relative
		width: 100% 
		border: none
		background: none  
		text-align: left
		min-height: 76px 
		text-align: left
		padding: 12px 22px
		font-weight: bold 
		font-size: 22px  
		line-height: 1.1 
		padding-right: 60px 
		&:hover
			color: #D40B0C 
		&:before
			content: "" 
			display: block 
			width: 16px
			height: 8px
			position: absolute
			top: 8px
			bottom: 0px
			right: 22px 
			margin: auto   
			border: 8px solid transparent
			border-top: 8px solid #d40b0c
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all 
	.spoiler-body
		position: relative
		width: 100% 
		.well
			position: relative
			width: 100% 
			padding: 22px
			padding-top: 10px
		p
			color: #000  
			font-weight: normal 
			font-size: 18px 
			line-height: 27px
			margin-bottom: 15px 
			strong
				font-weight: bold  	
		ul
			position: relative
			width: 100% 
			list-style: none 
			margin-bottom: 30px 
			li
				position: relative
				width: 100% 
				color: #787878 
				font-size: 18px 
				line-height: 30px
				margin: 0px  
				padding-left: 26px 
				&:before
					content: ""
					display: block
					width: 7px
					height: 10px
					background: #DC0030
					position: absolute
					top: 10px
					left: 2px
					-webkit-transform: skewX(-45deg)
					-moz-transform: skewX(-45deg)
					-ms-transform: skewX(-44deg)
					-o-transform: skewX(-44deg)
					transform: skewX(-44deg)
				a
					position: relative
					display: inline-block
					vertical-align: top
					color: #00669A 
					text-decoration: underline
					&:hover
						color: #dc0030 
		.check_list
			li
				margin-bottom: 0px 
				&:before
					content: "" 
					width: 15px 
					height: 13px 
					background: url("../img/list_check.png") no-repeat center center
					-webkit-background-size: 100% 100% 
					-o-background-size: 100% 100% 
					background-size: 100% 100% 
					-webkit-transform: none 
					-moz-transform: none 
					-ms-transform: none 
					-o-transform: none 
					transform: none 
		.with_big_margin
			li
				margin-bottom: 25px 






// INNER PAGE HEADER
.inner_page_header
	position: relative
	width: 100% 
	padding-top: 115px 
	padding-bottom: 25px 
	background-repeat: no-repeat 
	background-position: center center
	-webkit-background-size: cover 
	-o-background-size: cover 
	background-size: cover  
	background-image: url("../img/inner_header_bg.jpg") 
	&:before
		content: "" 
		display: block 
		width: 100% 
		height: 100% 
		position: absolute
		top: 0px
		left: 0px
		background: #0c1639
		opacity: .71    
	.page_title
		position: relative
		font-size: 55px 
		line-height: 60px
		color: #FFF 
		font-weight: bold 
		margin-bottom: 5px 
		text-align: left 


.breadcrumb
	position: relative
	padding: 0px
	background: none
	list-style: none
	margin: 0px 
	.breadcrumb-item
		position: relative
		color: #BEBEBE 
		font-weight: normal 
		font-size: 18px 
		line-height: 30px
		margin: 0px
		margin-bottom: 5px   
		margin-right: 10px 
		a
			position: relative
			display: inline-block
			vertical-align: top
			color: #BEBEBE 
			font-weight: normal 
			font-size: 18px 
			line-height: 30px
			text-decoration: underline
			&:hover
				color: #FFF 
	.breadcrumb-item+.breadcrumb-item
		padding-left: 18px 
		&:before  
			content: "" 
			display: block 
			width: 8px 
			height: 7px
			background: url("../img/breadcrumb.png") no-repeat center center
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100%   
			position: absolute
			left: 0px
			top: 0px
			bottom: 0px
			margin: auto
			 

.typography
	p
		color: #787878 
		font-size: 18px 
		line-height: 30px
		margin-bottom: 15px  
		strong
			font-weight: bold 
			color: #000 
	ul
		position: relative
		width: 100% 
		list-style: none 
		margin-bottom: 30px 
		li
			position: relative
			width: 100% 
			color: #4D4D4D 
			font-size: 18px 
			line-height: 30px
			margin: 0px  
			padding-left: 26px 
			&:before
				content: ""
				display: block
				width: 7px
				height: 10px
				background: #DC0030
				position: absolute
				top: 10px
				left: 2px
				-webkit-transform: skewX(-45deg)
				-moz-transform: skewX(-45deg)
				-ms-transform: skewX(-44deg)
				-o-transform: skewX(-44deg)
				transform: skewX(-44deg)
			a
				position: relative
				display: inline-block
				vertical-align: top
				color: #00669A 
				text-decoration: underline
				&:hover
					color: #dc0030 
	.check_list
		li
			&:before
				content: "" 
				width: 15px 
				height: 13px 
				background: url("../img/list_check.png") no-repeat center center
				-webkit-background-size: 100% 100% 
				-o-background-size: 100% 100% 
				background-size: 100% 100% 
				-webkit-transform: none 
				-moz-transform: none 
				-ms-transform: none 
				-o-transform: none 
				transform: none 
	.with_big_margin
		li
			margin-bottom: 25px 
	.video_block
		position: relative
		width: 100% 
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap
		-webkit-justify-content: space-between
		justify-content: space-between
		padding-bottom: 20px 
		padding-top: 20px 
		iframe, div
			width: 45% 
			height: 265px 
			max-width: 540px
			margin-bottom: 30px 
	
		



.centers_section
	position: relative
	width: 100% 
	padding-top: 32px 
	padding-bottom: 120px 
	background: url(../img/bg_angle_2.png) no-repeat right bottom
	.top_wrapper
		position: relative
		width: 100% 
		max-width: 750px
		margin-bottom: 60px  
	.antikor_center
		position: absolute
		top: 0px
		left: 100% 
		max-width: 502px 
		margin-left: 35px  
	.slider_title
		position: relative
		width: 100% 
		margin-bottom: 25px 
		padding-left: 38px 
		&:before
			content: "" 
			display: block 
			width: 27px 
			height: 35px
			background: url("../img/place_icon_2.png") no-repeat center center
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100% 
			position: absolute
			top: -15px 
			bottom: -15px 
			left: 0px
			margin: auto 
	.slider_wrapper
		margin-bottom: 55px 
	h3
		font-size: 30px 
	.mid_wrapper
		padding-top: 20px 
		padding-bottom: 20px 
		-webkit-align-items: center
		align-items: center





.about_page
	position: relative
	width: 100% 
	padding-top: 35px 
	padding-bottom: 50px 
	.car_img
		float: right
		max-width: 50%
		margin-left: 30px 
		margin-top: 30px 
		margin-bottom: 30px 
	p
		font-size: 18px 
		color: #787878 
		line-height: 30px
		margin-bottom: 25px  
		strong
			color: #000 
	ul
		li
			color: #787878 



.schemes_wrapper
	position: relative
	width: 100% 
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-ms-flex-wrap: wrap
	flex-wrap: wrap	
	.item
		position: relative
		width: calc(33.333% - 20px)
		margin-right: 30px 
		margin-bottom: 45px  
		.fancybox
			position: relative
			display: block 
			width: 100% 
			height: 324px 
			line-height: 0
			border: 3px solid #006596
			-webkit-border-radius: 5px 
			border-radius: 5px  
			text-decoration: none
			background-repeat: no-repeat 
			background-position: center center
			-webkit-background-size: cover 
			-o-background-size: cover 
			background-size: cover  
			line-height: 0 
			margin-bottom: 15px 
		p
			color: #000 
			font-weight: bold 
			font-size: 18px 
			margin-bottom: 10px 
		a
			position: relative
			display: inline-block
			vertical-align: top
			font-weight: normal 
			font-size: 18px 
			line-height: 30px 
			color: #00669A 
			text-decoration: underline
			margin: 0px 
			&:hover
				color: #DC0030 
	.item:nth-of-type(3n+3)
		margin-right: 0px 



.gallery_section_about
	padding-top: 90px 
	padding-bottom: 150px 
	background: url(../img/bg_angle_2.png) no-repeat right bottom #EFF2F5 





.faq_page
	position: relative
	width: 100% 
	padding-top: 40px 
	padding-bottom: 60px 
	.main_btn
		text-transform: none
		margin-top: 25px 
	.spoiler_item
		margin-bottom: 15px 
		&.active
			border-color: #00669a 
			.spoiler
				color: #00669A 
		.spoiler
			color: #3E3E3E 
			font-size: 24px 
			&:hover
				color: #00669A
		.spoiler-body 
			p
				color: #8D8D8D 
			ul, ol
				li
					color: #8D8D8D 
	.container
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap	
	.content
		position: relative
		width: calc(100% - 335px)
	
.sidebar 
	position: relative
	max-width: 300px 
	width: 100% 
	margin-left: auto 
	.title
		position: relative
		font-family: "Montserrat", sans-serif
		font-weight: bold 
		font-size: 30px 
		margin-bottom: 55px 
	.calc_btn
		width: 100% 
		span
			padding-right: 5px 
			padding-left: 125px 
		img
			max-width: 100px 
			top: 6px 
		

.sidebar_service_list
	position: relative
	width: 100% 
	list-style: none
	li
		position: relative
		text-align: left
		margin-bottom: 55px 
		font-weight: normal 
		font-size: 18px 
		color: #000 
		a
			position: relative
			display: -webkit-box
			display: -moz-box
			display: -ms-flexbox
			display: -webkit-flex
			display: flex
			-ms-flex-wrap: wrap
			flex-wrap: wrap	
			-webkit-align-items: center
			align-items: center
			font-weight: normal 
			font-size: 18px 
			color: #000
			text-decoration: none
			padding-left: 105px 
			margin: 0px 
			min-height: 46px 
			-webkit-transition: .15s all 
			-moz-transition: .15s all 
			-ms-transition: .15s all 
			-o-transition: .15s all 
			transition: .15s all 
			
			&:hover
				text-decoration: underline
				color: #016a9e 
				.icon
					&:before
						opacity: 1
			.icon
				position: absolute
				top: -35px 
				bottom: -35px 
				left: -25px 
				width: 135px 
				display: block 
				-webkit-transition: .15s all 
				-moz-transition: .15s all 
				-ms-transition: .15s all 
				-o-transition: .15s all 
				transition: .15s all 
				&:before
					content: "" 
					display: block 
					width: 100% 
					height: 100% 
					width: 115px 
					height: 99px 
					background: url("../img/hover_icon.png") no-repeat center center
					-webkit-background-size: 100% 100% 
					-o-background-size: 100% 100% 
					background-size: 100% 100%  
					position: absolute
					top: -50px
					left: -50px
					right: -50px
					bottom: -50px
					margin: auto
					opacity: 0   
					-webkit-transition: .3s all 
					-moz-transition: .3s all 
					-ms-transition: .3s all 
					-o-transition: .3s all 
					transition: .3s all   
				img
					max-width: 100% 
					max-height: 100% 
					position: absolute
					top: 0px
					left: 0px
					right: 0px
					bottom: 0px
					margin: auto
					    




// MATERIALS PAGE
.materials_page
	position: relative
	width: 100% 
	padding-top: 37px 
	padding-bottom: 100px 
	ul, ol, p
		li
			color: #787878 
	.materials_list
		position: relative
		width: 100% 
		list-style: none 
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap	
		margin-bottom: 90px 
		li
			width: 33.333%
			text-align: center
			font-weight: bold 
			font-size: 20px 
			color: #262626 
			line-height: 1.2
			padding-left: 10px 
			padding-right: 10px 
			margin-bottom: 25px 
			&:before
				display: none 
			a
				position: relative
				display: inline-block
				width: 100% 
				vertical-align: top
				font-weight: bold 
				font-size: 20px 
				color: #262626 
				line-height: 1.2
				text-decoration: none
				&:hover
					.icon
						-webkit-filter: grayscale(70%)
						filter: grayscale(70%)
			.icon
				position: relative
				display: block 
				width: 100% 
				height: 245px 
				margin-bottom: 20px 
				-webkit-transition: .2s all 
				-moz-transition: .2s all 
				-ms-transition: .2s all 
				-o-transition: .2s all 
				transition: .2s all 
				img
					position: absolute
					max-width: 100% 
					max-height: 100% 
					left: 0px
					bottom: 0px
					right: 0px
					margin: auto    




.short_page_info
	position: relative
	width: 100% 
	p
		position: relative
		font-weight: normal 
		font-size: 18px 
		line-height: 30px 
		color: #2E2E2E 
		margin-bottom: 37px 
	.strong_text
		font-weight: bold 
		color: #2E2E2E 
		font-size: 24px 
		a
			display: inline-block
			vertical-align: top
			&:hover
				color: #DC0030 
	.pay_icons
		position: relative
		max-width: 100% 
		margin-bottom: 40px 
	h5
		text-transform: uppercase
		color: #2E2E2E 
		font-size: 30px
		line-height: 36px
		margin: 0px   





// QUESTION FORM
.question_form
	position: relative
	width: 100% 
	max-width: 968px
	overflow: hidden
	-webkit-border-radius: 5px
	border-radius: 5px
	.form_title
		position: relative
		width: 100% 
		background: #0C70A2 
		padding: 20px 28px 
		text-align: left
		color: #FFF
		font-weight: bold 
		font-size: 30px 
		line-height: 1.1
		margin: 0px   
	.wrapper
		position: relative
		width: 100% 
		padding: 25px 28px 
		padding-bottom: 35px 
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap	
		background: #EDEDED 
	label
		position: relative
		width: 100% 
		margin-bottom: 20px 
		label.error
			position: absolute
			top: 0px
			left: 0px
			opacity: 0
			z-index: -1
			-webkit-transform: scale(0) 
			-moz-transform: scale(0) 
			-ms-transform: scale(0) 
			-o-transform: scale(0) 
			transform: scale(0)     
	input, textarea
		position: relative
		width: 100% 
		outline: none
		resize: none
		height: 48px
		-webkit-border-radius: 5px 
		border-radius: 5px
		background: #FFF 
		-webkit-transition: .3s all 
		-moz-transition: .3s all 
		-ms-transition: .3s all 
		-o-transition: .3s all 
		transition: .3s all 
		font-weight: normal 
		font-size: 16px 
		line-height: 24px
		padding: 11px 14px
		color: #000 
		border: 1px solid #CBCBCB 
		&.error
			border-color: #dc0030 
		&:focus
			-webkit-box-shadow: 0px 5px 10px rgba(0,0,0,.3) 
			box-shadow: 0px 5px 10px rgba(0,0,0,.3) 
	textarea
		height: 184px 
		resize: none 
		padding-top: 12px 
		padding-bottom: 12px
	::placeholder
		color: #757575 
	:-ms-input-placeholder 
		color: #757575 
	::-ms-input-placeholder 
		color: #757575 
	.col
		position: relative
		width: calc(50% - 13px)
		margin-right: 26px
		-ms-flex-preferred-size: auto
		flex-basis: auto
		-ms-flex-positive: 0
		flex-grow: 0
		padding: 0px
		margin-bottom: 25px  
		label
			margin-bottom: 17px 
	.col:nth-of-type(2n+2)
		margin-right: 0px 
	.check_text
		position: relative
		font-weight: normal 
		font-size: 16px 
		line-height: 24px
		color: #757575 
		padding-left: 27px 
		margin: 0px
		&:before
			content: "" 
			display: block 
			width: 15px 
			height: 13px 
			background: url("../img/list_check_blue.png") no-repeat center center
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100% 
			position: absolute
			top: 5px 
			left: 0px 
	.input_title
		position: relative
		font-weight: bold 
		font-size: 16px 
		line-height: 30px
		color: #2C2C2C 
		margin-bottom: 10px 
		span
			font-weight: normal 
			color: #8D8D8D 
	.name_label, .email_label
		&:before
			content: "" 
			display: block 
			width: 27px 
			height: 27px 
			background-image: url("../img/name_label.png") 
			background-repeat: no-repeat 
			background-position: center center
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100%  
			position: absolute
			top: 0px
			left: 11px 
			bottom: 0px
			margin: auto
			z-index: 2   
		input
			padding-left: 52px 
	.email_label
		&:before
			background-image: url("../img/email_label.png") 
			width: 30px 
			height: 20px 
		input
			padding-left: 54px 	
	.main_btn
		text-transform: none




.modal
	&.question_modal
		.modal-dialog
			max-width: 968px 
			.modal-body
				padding: 0px 
			.close
				background: url("../img/close_white.png") no-repeat center center
				-webkit-background-size: 100% 100% 
				-o-background-size: 100% 100% 
				background-size: 100% 100% 
	&.thanks_modal
		.modal-dialog
			.modal-body
				text-align: center
	.modal-dialog
		max-width: 400px 
		margin: auto
		margin-top: 10%  
		.modal-content
			border: none
			-webkit-border-radius: 5px 
			border-radius: 5px
			-webkit-box-shadow: 0px 5px 24px rgba(0,0,0,.31) 
			box-shadow: 0px 5px 24px rgba(0,0,0,.31)   
		.close
			position: absolute
			z-index: 2
			top: 15px 
			right: 15px 
			width: 22px 
			height: 22px 
			background: url("../img/close.png") no-repeat center center
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100%  
			-webkit-transition: .5s all 
			-moz-transition: .5s all 
			-ms-transition: .5s all 
			-o-transition: .5s all 
			transition: .5s all  
			opacity: 1 
			&:hover
				-webkit-transform: rotate(90deg) 
				-moz-transform: rotate(90deg) 
				-ms-transform: rotate(90deg) 
				-o-transform: rotate(90deg) 
				transform: rotate(90deg) 
		.modal-body
			position: relative
			width: 100% 
			padding: 20px
			padding-top: 40px 
			.modal_title
				text-align: center
				font-weight: bold 
				color: #000
				margin-bottom: 30px  
				font-size: 32px 
				line-height: 1.2 
			p
				font-size: 18px 
				line-height: 24px
				color: #000
			.question_form .check_text
				font-size: 16px 


.inner_page_header
	.container
		position: relative
	.btns_block
		position: absolute
		right: 15px 
		bottom: 30px 
		.main_btn
			text-transform: none
			margin-right: 30px 
		.white_btn
			position: relative
			display: inline-block
			vertical-align: top
			border: 2px solid #FFF
			-webkit-border-radius: 5px 
			border-radius: 5px  
			text-align: center
			padding: 22px 21px
			font-family: "Montserrat", sans-serif
			font-weight: bold 
			color: #FFF 
			font-size: 18px 
			line-height: 20px 
			&:hover
				background: #FFF 
				color: #000 
			&:active
				-webkit-transform: scale(.9) 
				-moz-transform: scale(.9) 
				-ms-transform: scale(.9) 
				-o-transform: scale(.9) 
				transform: scale(.9) 






// NEWS PAGE
.news_page
	position: relative
	width: 100% 
	padding-top: 35px 
	padding-bottom: 60px 
	.main_btn
		margin: auto
	.container
		position: relative
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap	
	.news_item
		position: relative
		z-index: 2 
		width: calc(25% - 22.5px) 
		border: 3px solid rgba(255,255,255,.0)
		margin-right: 30px 
		margin-bottom: 30px 
		padding: 12px 
		background: none 
		-webkit-transition: .3s all 
		-moz-transition: .3s all 
		-ms-transition: .3s all 
		-o-transition: .3s all 
		transition: .3s all 
		text-align: left
		padding-bottom: 55px 
		&:hover
			border-color: #00669A  
			&:before
				opacity: 0 
		&:before
			content: "" 
			display: block 
			position: absolute
			top: -3px
			left: -3px
			right: -3px
			bottom: -3px
			border: 1px solid #e0e0e0    
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all 
		.item_img
			margin-bottom: 17px 
		.item_text 
			.title
				color: #3E3E3E 
				margin-bottom: 15px 
				&:hover
					color: #00669a 
			p
				font-size: 16px 
				line-height: 26px 
		.date
			color: #AEAEAE 
			left: 12px 
			font-size: 16px 
	.news_item:nth-of-type(4n+4)
		margin-right: 0px 
	.btn_block
		width: 100% 
		max-width: 100% 
		margin: 0px
		text-align: center 







// NEWS ITEM PAGE
.news_item_page
	position: relative
	width: 100% 
	padding-top: 35px 
	padding-bottom: 65px 
	p
		color: #3E3E3E 
		font-size: 16px 
		line-height: 26px
		color: #3E3E3E 
		margin-bottom: 15px  
		strong
			font-weight: bold 
			color: #3E3E3E 
	h3
		color: #3E3E3E
	h4
		font-weight: 600 
		color: #3E3E3E 
		font-size: 24px 
	h5
		font-weight: 600 
		font-size: 18px 
		color: #3E3E3E 
	a
		display: inline-block
		vertical-align: top
		color: #168ccc 
		text-decoration: underline
		&:hover
			color: #DC0030 
	ul, ol
		li
			font-size: 16px 
			line-height: 26px 
			color: #3E3E3E 
	.check_list
		li
			&:before
				top: 7px 
	.float_img
		position: relative
		float: left
		margin-right: 30px 
		margin-bottom: 20px 
		max-width: 462px 
		margin-top: 10px 
	.date
		position: relative
		margin: 0px
		color: #AEAEAE  
	.mobile_page_title
		display: none
		font-weight: bold 
		font-size: 26px 
		line-height: 1.1
		margin-bottom: 30px 
		color: #000   


.typography
	.gallery_block
		position: relative
		width: 100% 
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap	
		> .fancybox, > img
			position: relative
			width: calc(25% - 22.5px)
			margin-right: 30px
			margin-bottom: 30px
			display: block 
			text-decoration: none
			line-height: 0
			text-decoration: none
			img
				width: 100% 
		.fancybox
			&:hover
				&:before, &:after
					opacity: 1 
			&:before
				content: "" 
				display: block 
				width: 100% 
				height: 100% 
				position: absolute
				top: 0px
				left: 0px
				opacity: 0
				-webkit-transition: .3s all 
				-moz-transition: .3s all 
				-ms-transition: .3s all 
				-o-transition: .3s all 
				transition: .3s all   
				background: url("../img/zoom.png") no-repeat center center rgba(255,255,255,.4)  
				-webkit-background-size: 54px 54px 
				-o-background-size: 54px 54px 
				background-size: 54px 54px 
			&:after
				content: "" 
				display: block
				width: 100%
				height: 100%
				position: absolute
				top: 0px
				left: 0px
				border: 2px solid #d40b0c
				opacity: 0
				-webkit-transition: 0.3s all
				-moz-transition: 0.3s all
				-ms-transition: 0.3s all
				-o-transition: 0.3s all
				transition: 0.3s all
				background: url(../img/triangle.png) no-repeat right bottom
		> .fancybox:nth-of-type(4n+4), > img:nth-of-type(4n+4)
			margin-right: 0px 






.prices_section
	padding-top: 35px 
	padding-bottom: 100px 
	background: url(../img/bg_angle_2.png) no-repeat right bottom
	.title
		position: relative
		font-family: "PT Sans", sans-serif 
		font-weight: bold 
		font-size: 18px 
		line-height: 30px
		text-transform: uppercase
		color: #000
		margin-bottom: 45px 
		span
			display: block 
			text-transform: none
			color: #767676 
			font-weight: normal 
	.short_page_info
		.strong_text
			font-size: 18px 



.cars_type_list, .typography .cars_type_list
	position: relative
	width: calc(100% + 30px)
	margin-left: -15px 
	margin-right: -15px 
	max-width: none 
	list-style: none
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-ms-flex-wrap: wrap
	flex-wrap: wrap	
	li
		position: relative
		width: 33.333%
		text-align: center
		padding: 0px 15px 
		margin-bottom: 65px 
		&:before
			display: none 
		a
			position: relative
			display: inline-block
			max-width: 360px
			width: 100% 
			vertical-align: top
			line-height: 0
			text-decoration: none
			color: #1E90D7 
			&:hover
				color: #A7010F 
				.img_block
					.red_car
						opacity: 1
				span
					text-decoration: underline
			.img_block
				position: relative
				width: 100% 
				height: 138px
				margin-bottom: 20px 
				img
					position: absolute
					left: 0px
					right: 0px
					bottom: 0px
					margin: auto
					max-width: 100% 
					max-height: 100%    
					-webkit-transition: .3s all 
					-moz-transition: .3s all 
					-ms-transition: .3s all 
					-o-transition: .3s all 
					transition: .15s all 
				.red_car
					z-index: 2
					opacity: 0  
			span
				font-size: 16px 
				line-height: 22px
				text-decoration: none
		.calc_btn
			color: #FFF 
			font-size: 24px 
			line-height: 24px
			margin-top: 50px 
			width: auto 
			&:hover 
				color: #FFF
				text-decoration: none	
				span
					text-decoration: none
			span
				padding-right: 30px 




.inner_service_section
	padding-top: 50px 
	padding-bottom: 130px 
	background: url(../img/bg_angle_2.png) no-repeat right bottom
	.short_page_info
		text-align: left
		padding-top: 60px 
		.strong_text
			font-size: 18px 
	.title
		text-align: left
		font-weight: bold 
		font-size: 30px 
		line-height: 1
		margin-bottom: 55px  
	.service_item p
		font-weight: bold 






.price_item_section, .service_item_section
	position: relative
	width: 100% 
	padding-top: 40px 
	padding-bottom: 150px
	background: url(../img/bg_angle_2.png) no-repeat right bottom
	.container
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap	
	.sidebar
		.title
			font-weight: bold 
			font-size: 30px 
			line-height: 1.1
			color: #000
			margin-bottom: 60px   
		.calc_btn
			color: #FFF 
			text-decoration: none
	.content
		position: relative
		width: calc(100% - 340px) 
	p
		font-size: 20px 
		line-height: 30px
		margin-bottom: 20px 
		color: #000  
	a
		color: #00669A 
		text-decoration: underline
		&:hover
			color: #DC0030 
	.short_page_info
		padding-top: 40px 
		p
			font-size: 16px 
			a
				text-decoration: none
				color: #2E2E2E 
				&:hover
					color: #DC0030 
		.strong_text
			font-size: 17px 


.typography
	table
		position: relative
		width: 100% 
		border-collapse: collapse 
		margin-bottom: 30px 
		th, td
			border: 1px solid #DFDFDF 
			padding: 25px 20px
			text-align: left
			font-weight: normal 
			font-size: 20px 
			color: #000
			vertical-align: middle
			border-collapse: collapse 
		
	.price_table
		margin-bottom: 40px 
		td:first-of-type
			background: #F7F7F7 
			font-weight: bold 
			text-transform: uppercase
			width: 37% 
		td:last-of-type
			font-weight: bold 
			font-size: 30px 
			line-height: 1.1 
			width: 18% 
		span
			display: block
		.old_price
			font-size: 18px
			color: #000
			text-decoration: line-through   
		.new_price
			color: #A7010F 
	iframe
		width: 100% 
		height: 540px
		margin-bottom: 30px 
		margin-top: 10px  





.change_cars_type
	position: relative
	z-index: 5 
	width: 100% 
	margin-bottom: 30px  
	.active_car
		position: relative
		width: 100% 
		font-weight: bold 
		font-size: 24px 
		line-height: 1
		color: #00669A 
		margin: 0px
		max-width: 260px  
	.wrap
		position: relative
		width: 100% 
	.change_btn
		position: relative
		width: 100% 
		border: none 
		background: none
		z-index: 3
		padding: 22px 40px
		padding-left: 105px
		text-align: left
		font-weight: normal 
		font-size: 18px 
		line-height: 1.1
		color: #00669A  
		background: #FFF    
		-webkit-border-radius: 5px 
		border-radius: 5px 
		&.active
			.close
				opacity: 1 
		&:hover
			color: #DC0030 
			span
				border-color: #DC0030  
		span
			border-bottom: 1px dashed #00669a 
		.close
			position: absolute
			top: 10px 
			right: 10px 
			display: block
			width: 17px 
			height: 17px 
			background: url("../img/close_2.png") no-repeat center center
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100%  
			-webkit-transition: .5s all 
			-moz-transition: .5s all 
			-ms-transition: .5s all 
			-o-transition: .5s all 
			transition: .5s all 
			opacity: 0 
			&:hover
				-webkit-transform: rotate(90deg) 
				-moz-transform: rotate(90deg) 
				-ms-transform: rotate(90deg) 
				-o-transform: rotate(90deg) 
				transform: rotate(90deg) 
		.car_img
			position: absolute
			top: 0px
			bottom: 0px
			left: -34px 
			width: 140px 
			display: block 
			background: #FFF 
			-webkit-border-radius: 5px 
			border-radius: 5px 
			img
				position: absolute
				top: 0px
				left: 0px
				right: 0px
				bottom: 0px
				margin: auto
				max-width: 70% 
				max-height: 70%    
	.cars_list
		position: absolute
		background: #FFF 
		width: calc(100% + 34px)
		list-style: none
		margin: 0px
		padding: 0px
		top: 0px 
		left: -34px 
		padding-top: 82px 
		-webkit-box-shadow: 0px 9px 40px rgba(0,0,0,.21) 
		box-shadow: 0px 9px 40px rgba(0,0,0,.21) 
		-webkit-border-radius: 5px 
		border-radius: 5px 
		display: none 
		li
			position: relative
			width: 100% 
			padding: 0px
			margin: 0px  
			&:before
				display: none
			a
				position: relative
				display: -webkit-box
				display: -moz-box
				display: -ms-flexbox
				display: -webkit-flex
				display: flex
				-ms-flex-wrap: wrap
				flex-wrap: wrap	
				width: 100%
				-webkit-align-items: center
				align-items: center
				text-decoration: none
				padding-right: 15px 
				padding-top: 10px 
				padding-bottom: 10px 
				&:hover
					color: #00669a 
					background: #F3F3F3 
					.car_img
						.red_car
							opacity: 1 
				&.active
					background: #F3F3F3 
					.car_img
						.red_car
							opacity: 1 
			.car_img
				position: relative
				width: 140px 
				height: 68px 
				display: block 
				img
					position: absolute
					top: 0px
					left: 0px
					right: 0px
					bottom: 0px
					margin: auto
					max-width: 70% 
					max-height: 100%
					-webkit-transition: .15s all 
					-moz-transition: .15s all 
					-ms-transition: .15s all 
					-o-transition: .15s all 
					transition: .25s all     
				.blue_car
					opacity: 1 
				.red_car
					opacity: 0
					z-index: 2  
			span
				position: relative
				width: calc(100% - 140px) 
				font-size: 16px 
				text-decoration: none
				border: none 









.team_section
	position: relative
	width: 100% 
	padding-top: 45px 
	padding-bottom: 100px
	p
		font-size: 18px 
		line-height: 26px
		color: #777 
		margin-bottom: 20px 
		strong
			color: #000
			font-weight: bold  
		a
			display: inline-block
			vertical-align: top
			color: #000
			text-decoration: none
	.wrapper
		position: relative
		width: 100% 
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap	
		margin-bottom: 40px 
	.item
		position: relative
		width: calc(50% - 15px) 
		margin-right: 30px 
		margin-bottom: 30px 
		border: 1px solid #d9d9d9
		padding: 22px 
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap	
		-webkit-align-items: flex-start
		align-items: flex-start
		-webkit-transition: .3s all 
		-moz-transition: .3s all 
		-ms-transition: .3s all 
		-o-transition: .3s all 
		transition: .3s all 
		&:hover
			-webkit-box-shadow: 0px 10px 15px rgba(0,0,0,.2) 
			box-shadow: 0px 10px 15px rgba(0,0,0,.2) 
		.photo
			position: relative
			width: 166px 
			height: 166px 
			overflow: hidden
			img
				width: 100% 
				height: 100% 
				object-fit: cover
		.text
			position: relative
			width: calc(100% - 166px)
			padding-left: 30px 
			p
				color: #777 
				font-weight: normal 
				font-size: 18px 
				line-height: 26px 
				margin: 0px
				strong
					font-weight: bold 
					color: #000 
			.name
				font-weight: bold 
				color: #000
				margin-bottom: 15px
	.item:nth-of-type(2n+2)
		margin-right: 0px 
	

.stars_list, .team_section .stars_list
	position: relative
	width: auto 
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-ms-flex-wrap: wrap
	flex-wrap: wrap	
	-webkit-align-items: center
	align-items: center
	list-style: none
	margin: 0px  
	margin-bottom: 14px 
	li
		position: relative
		width: 25px 
		height: 25px 
		background-repeat: no-repeat 
		background-position: left top
		-webkit-background-size: 100% 100% 
		-o-background-size: 100% 100% 
		background-size: 100% 100%  
		background-image: url("../img/star.png") 
		padding: 0px
		margin: 0px
		margin-right: 5px 
		&:before
			content: "" 
			display: block 
			width: 100% 
			height: 100% 
			position: absolute
			top: 0px
			left: 0px
			-webkit-transform: none 
			-moz-transform: none 
			-ms-transform: none 
			-o-transform: none 
			transform: none   
			background: url("../img/star_active.png") no-repeat left top
			-webkit-background-size: 100% 
			-o-background-size: 100% 
			background-size: 100%  
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all 
			opacity: 0 
	.active, .hover
		&:before
			opacity: 1 
	.half
		&:before
			width: 50%
			-webkit-background-size: 200% 100%
			-o-background-size: 200% 100%
			background-size: 200% 100%
	.number
		background: none
		font-weight: bold 
		font-size: 20px 
		color: #000
		margin: 0px
		height: auto 
		width: auto 
		line-height: 20px
		margin-left: 7px     


.stars_list_change, .team_section .stars_list_change
	margin-top: 5px 
	li
		cursor: pointer
		&:hover
			&:before
				opacity: 1 


.service_item_section
	h2
		font-size: 36px 
		margin-bottom: 30px 
	p
		color: #515151 
		font-size: 18px 
		line-height: 30px
		margin-bottom: 20px 
	ul, ol
		li
			font-size: 18px 
			line-height: 30px 
	.gallery_block
		margin-bottom: 10px 
		.fancybox
			width: calc(33.333% - 20px)
			margin-right: 30px
			margin-bottom: 30px   
		.fancybox:nth-of-type(4n+4)
			margin-right: 30px 
		.fancybox:nth-of-type(3n+3)
			margin-right: 0px 
	.price_btn
		margin-top: 40px 

.work_examples
	position: relative
	width: 100% 
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-ms-flex-wrap: wrap
	flex-wrap: wrap	
	h4, .block_title
		width: 100% 
		font-size: 30px 
		margin-bottom: 15px
		color: #323232  
	.example_item
		position: relative
		width: calc(33.333% - 20px)
		margin-right: 30px 
		margin-bottom: 30px 
		text-align: left
		.img
			position: relative
			width: 100% 
			display: block
			line-height: 0
			text-decoration: none
			margin-bottom: 15px  
			img
				width: 100% 
		.link
			position: relative
			display: inline-block
			vertical-align: top
			text-align: left
			text-decoration: underline
			color: #00669A 
			font-size: 18px
			line-height: 30px
			margin: 0px
			&:hover
				color: #DC0030 
	.example_item:nth-of-type(3n+3)
		margin-right: 0px 






.other_themes, .typography .other_themes
	margin: 0px
	margin-bottom: 50px 
	li
		position: relative
		width: 100% 
		margin: 0px
		padding: 0px
		&:before
			display: none
		a
			text-decoration: underline
			color: #00669A 
			font-size: 18px 
			line-height: 30px 
			&:hover
				color: #DC0030
	.title
		font-weight: bold 
		font-size: 30px 
		line-height: 1
		color: #323232 
		margin-bottom: 3px 
	 
.pdf_link, .typography .pdf_link
	position: relative
	display: inline-block
	vertical-align: top
	padding-left: 80px 
	text-align: left
	font-family: "Montserrat", sans-serif
	font-weight: bold 
	font-size: 18px 
	line-height: 24px
	color: #303030 
	text-decoration: none
	margin-bottom: 40px 
	&:before
		content: "" 
		display: block 
		width: 56px 
		height: 63px 
		background: url("../img/pdf_icon.png") no-repeat center center
		-webkit-background-size: 100% 100% 
		-o-background-size: 100% 100% 
		background-size: 100% 100% 
		position: absolute
		top: -30px 
		left: 0px
		bottom: -30px
		margin: auto  
	span
		display: block 
		color: #7E7E7E 
		font-weight: normal 



.typography .price_btn
	color: #FFF 
	text-decoration: none
	&:hover
		color: #FFF 




.spoiler_item .spoiler-body .main_btn
	margin-top: 10px 


.faq_page .spoiler_item .spoiler
	font-size: 24px 
	line-height: 32px 


.faq_page
	.question_form
		margin-top: 50px 


.page_pagination, .typography .page_pagination
	position: relative
	width: 100% 
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-ms-flex-wrap: wrap
	flex-wrap: wrap	
	list-style: none
	margin: 0px
	padding-top: 30px 
	padding-bottom: 30px   
	li
		position: relative
		display: block 
		margin: 0 9px
		padding: 0px 
		text-align: center
		margin-bottom: 10px 
		&:before
			display: none 
		a
			position: relative
			display: block 
			min-width: 50px 
			height: 50px 
			background: #FFF 
			text-align: center
			font-weight: bold 
			color: #000 
			font-size: 22px 
			line-height: 46px 
			text-decoration: none
			-webkit-border-radius: 5px 
			border-radius: 5px 
			padding-left: 3px 
			padding-right: 3px 
			border: 2px solid #1978A7 
			&:hover
				color: #dc0030 
	.active
		a
			background: #078DAA 
			color: #FFF
			&:hover
				color: #FFF 
	.dots
		position: relative
		height: 46px 
		text-align: center
		color: #1978a7 
		line-height: 46px 
		font-size: 30px 
		padding-top: 5px 
	.prev, .next
		a
			background: none
			-webkit-box-shadow: none 
			box-shadow: none  
			font-weight: normal 
			font-size: 16px 
			color: #078DAA 
			text-decoration: underline
			border: none 
			&:hover
				-webkit-box-shadow: 0px 5px 18px rgba(0,0,0,.0) 
				box-shadow: 0px 5px 18px rgba(0,0,0,.0)  
				text-shadow: 0px 2px 10px rgba(0,0,0,.3) 







.answer_modal
	.modal-dialog
		max-width: 968px 
		margin-top: 3% 
		.modal-content
			.close

		.modal-body
			padding: 0px 
		.question_block
			position: relative
			width: 100% 
			padding: 28px
			padding-top: 37px 
			text-align: left
			h2, h3, h4, h5
				font-weight: bold 
				color: #000
				margin-bottom: 20px 
				font-size: 30px 
			h3
				font-size: 26px 
			h4
				font-size: 24px 
			h5
				font-size: 20px 
			p
				font-size: 18px 
				line-height: 30px
				color: #000
				margin-bottom: 15px   
		.question_form	
			padding: 0px 
			.wrapper
				background: #1375a5 
			.input_title
				color: #FFF 
				span
					color: #FFF 
			.check_text
				color: #FFF 
				&:before
					background: url("../img/check_white.png") no-repeat center center
					-webkit-background-size: 100% 100% 
					-o-background-size: 100% 100% 
					background-size: 100% 100% 
			.main_btn
				color: #000
				background: #FFF  
				&:before, &:after
					display: none 






.contacts_page
	position: relative
	width: 100% 
	padding-top: 40px 
	padding-bottom: 0px
	#map
		width: 100% 
		height: 820px 
	.wrapper
		position: relative
		width: 100% 
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap	
		padding-left: 330px 
		padding-bottom: 45px 
		border-bottom: 1px solid #DCDCDC 
		margin-bottom: 25px 
		-webkit-align-items: flex-end
		align-items: flex-end
		img
			position: absolute
			top: 15px 
			left: 28px 
			max-width: 252px 
		p
			width: 100% 
			margin-bottom: 30px 
			max-width: 820px 
		h1, h2, h3, h4, h5
			width: 100% 
	p
		color: #333 
		font-size: 18px
		line-height: 30px
		margin-bottom: 15px  
	h3
		font-size: 30px
		color: #2D2D2D 
		margin-bottom: 35px  
	.contacts_list
		position: relative
		width: auto
		list-style: none
		li
			position: relative
			width: 100% 
			padding: 0px
			color: #333 
			font-size: 18px
			line-height: 30px
			margin-bottom: 15px   
			padding-left: 50px 
			&:before
				content: "" 
				display: block 
				width: 30px
				height: 38px
				background-repeat: no-repeat 
				background-position: center center
				-webkit-background-size: 100% 100% 
				-o-background-size: 100% 100% 
				background-size: 100% 100%   
				position: absolute
				top: -20px
				left: 0px
				bottom: -20px
				margin: auto
			strong
				font-weight: bold 
				color: #2d2d2d
				display: block 
			a
				display: inline-block
				vertical-align: top
		.place_li
			&:before
				background-image: url("../img/place_li.png") 
				left: 3px 
		.tel_li
			&:before
				background-image: url("../img/tel_li.png") 
				width: 32px 
				height: 32px 
				left: 0px 
			a
				font-size: 24px 
				text-decoration: none
				font-weight: bold 
				&:hover
					color: #A7010F 
		.email_li
			&:before
				background-image: url("../img/email_li.png") 
				width: 31px 
				height: 24px 
				left: 0px 
			a
				color: #00669A 
				text-decoration: underline
				&:hover
					color: #A7010F 
		.time_li
			&:before
				background-image: url("../img/time_li.png") 
				width: 29px 
				height: 29px 
				left: 0px 
		li:last-of-type
			margin-bottom: 0px 
	.soc_list
		width: auto 
		margin-left: auto 
		margin-right: 60px 
		margin-top: 20px 
		li:last-of-type
			margin-right: 0px 


.centers_wrapper
	position: relative
	width: 100% 
	h3
		font-size: 30px 
		color: #000
		margin-bottom: 50px 
		text-align: left 
	.slider_title
		position: relative
		width: 100% 
		padding-left: 40px 
		font-weight: bold 
		font-size: 24px 
		line-height: 30px
		color: #000
		margin-bottom: 25px 
		&:before
			content: "" 
			display: block 
			width: 27px 
			height: 35px 
			background: url("../img/place_red.png") no-repeat center center
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100%  
			position: absolute
			top: -20px 
			left: 0px
			bottom: -20px
			margin: auto  



.center_slider
	position: relative
	width: 100% 
	margin-bottom: 60px 
	.prev_slide, .next_slide
		position: absolute
		top: 50%
		width: 65px 
		height: 86px
		background: rgba(27,31,39,.7)   
		margin-top: -43px 
		left: 0px
		&:hover
			&:after
				opacity: 1 
			&:before
				opacity: 0 
		&:before, &:after
			content: "" 
			display: block 
			width: 28px 
			height: 53px 
			background-image: url("../img/slider_arrow.png")
			background-repeat: no-repeat 
			background-position: center center 
			-webkit-background-size: 100% 100% 
			-o-background-size: 100% 100% 
			background-size: 100% 100%  
			position: absolute
			top: 0px
			left: 0px
			right: 0px
			bottom: 0px
			margin: auto    
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all 
		&:after
			z-index: 2
			opacity: 0  
			background-image: url("../img/slider_arrow_hover.png")
	.next_slide
		left: auto 
		right: 0px  
		&:before, &:after
			-webkit-transform: rotate(180deg) 
			-moz-transform: rotate(180deg) 
			-ms-transform: rotate(180deg) 
			-o-transform: rotate(180deg) 
			transform: rotate(180deg) 
	.swiper-slide
		position: relative
		a
			position: relative
			display: block
			width: 100% 
			height: 213px 
			background-repeat: no-repeat 
			background-position: center center
			-webkit-background-size: cover 
			-o-background-size: cover 
			background-size: cover  
			cursor: pointer
			line-height: 0 
			&:hover
				&:before, &:after
					opacity: 1
			&:before
				content: "" 
				display: block 
				width: 100% 
				height: 100% 
				position: absolute
				top: 0px
				left: 0px 
				background: url("../img/zoom_red.png") no-repeat center center rgba(255,255,255,.4)
				-webkit-background-size: 54px 
				-o-background-size: 54px 
				background-size: 54px 
				opacity: .0
				-webkit-transition: .3s all 
				-moz-transition: .3s all 
				-ms-transition: .3s all 
				-o-transition: .3s all 
				transition: .3s all  
			&:after
				content: "" 
				display: block 
				width: 100% 
				height: 100% 
				position: absolute
				top: 0px
				left: 0px
				border: 2px solid #d40b0c
				opacity: .0
				-webkit-transition: .3s all 
				-moz-transition: .3s all 
				-ms-transition: .3s all 
				-o-transition: .3s all 
				transition: .3s all      
				background: url("../img/triangle.png") no-repeat right bottom





.calc_section
	padding-top: 37px 
	padding-bottom: 170px 
	background: url(../img/bg_angle_2.png) no-repeat right bottom
	min-height: 500px 

.calculator
	position: relative
	width: 100% 
	.calc_header
		position: relative
		width: 100% 
		background: #EAEAEA 
		padding: 40px 35px 
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap	
		-webkit-align-items: center
		align-items: center
		margin-bottom: 37px 
		.title
			position: relative
			max-width: 50%
			font-weight: bold 
			font-size: 48px 
			line-height: 48px
			color: #00669A 
			margin: 0px
			padding-left: 185px 
			&:before
				content: "" 
				display: block 
				width: 154px
				height: 131px  
				background: url("../img/calc_title.png") no-repeat center center
				-webkit-background-size: 100% 100% 
				-o-background-size: 100% 100% 
				background-size: 100% 100% 
				position: absolute
				top: -20px 
				left: 0px
				bottom: -20px
				margin: auto  
			&:after
				content: "" 
				display: block 
				width: 45px 
				height: 2px 
				background: #a40e0e 
				margin-top: 15px 
		.multi_select
			position: relative
			z-index: 3 
			width: 100% 
			max-width: 598px 
			margin-left: auto 
			.change_btn
				position: relative
				display: -webkit-box
				display: -moz-box
				display: -ms-flexbox
				display: -webkit-flex
				display: flex
				-ms-flex-wrap: wrap
				flex-wrap: wrap	
				-webkit-align-items: center
				align-items: center
				width: 100% 
				border: none
				z-index: 2
				background: #FFF 
				-webkit-border-radius: 5px 
				border-radius: 5px  
				-webkit-box-shadow: 0px 2px 9px rgba(0,0,0,.1) 
				box-shadow: 0px 2px 9px rgba(0,0,0,.1) 
				&:hover
					.text
						span, p
							color: #dc0030 
							border-color: #dc0030 
				&.active
					-webkit-border-radius: 5px 5px 0px 0px 
					border-radius: 5px 5px 0px 0px 
					.close
						opacity: 1 
				.car_img
					position: relative
					width: 207px 
					height: 115px 
					display: block 
					img
						position: absolute
						top: 0px
						left: 0px
						right: 0px
						bottom: 0px
						margin: auto
						max-width: 70% 
						max-height: 70%  
				.text
					position: relative
					width: calc(100% - 222px)
					margin-left: auto 
					text-align: left
					padding-right: 70px 
					p
						font-weight: bold 
						font-size: 24px 
						line-height: 1
						color: #00669A 
						margin: 0px
						margin-bottom: 5px
						-webkit-transition: .3s all 
						-moz-transition: .3s all 
						-ms-transition: .3s all 
						-o-transition: .3s all 
						transition: .3s all 
					span
						font-weight: normal 
						font-size: 16px 
						line-height: 20px
						color: #00669A 
						border-bottom: 1px dashed #00669a
						-webkit-transition: .3s all 
						-moz-transition: .3s all 
						-ms-transition: .3s all 
						-o-transition: .3s all 
						transition: .3s all 
				.close
					position: absolute
					z-index: 3 
					top: 15px
					right: 15px
					display: block
					width: 17px
					height: 17px
					background: url(../img/close_2.png) no-repeat center center
					-webkit-background-size: 100% 100%
					-o-background-size: 100% 100%
					background-size: 100% 100%
					-webkit-transition: 0.5s all
					-moz-transition: 0.5s all
					-ms-transition: 0.5s all
					-o-transition: 0.5s all
					transition: 0.5s all
					opacity: 0
					&:hover
						-webkit-transform: rotate(90deg) 
						-moz-transform: rotate(90deg) 
						-ms-transform: rotate(90deg) 
						-o-transform: rotate(90deg) 
						transform: rotate(90deg) 
			.cars_list
				position: absolute
				z-index: 5 
				display: none 		
				width: 100% 
				top: 100%
				left: 0px
				background: #FFF 
				-webkit-box-shadow: 0px 15px 22px rgba(0,0,0,.15) 
				box-shadow: 0px 15px 22px rgba(0,0,0,.15) 
				border-top: 1px solid #E9E9E9 
				li
					position: relative
					width: 100% 
					display: -webkit-box
					display: -moz-box
					display: -ms-flexbox
					display: -webkit-flex
					display: flex
					-ms-flex-wrap: wrap
					flex-wrap: wrap	
					-webkit-align-items: center
					align-items: center		
					cursor: pointer
					&.active
						background: #F3F3F3 
						.car_img
							.red_car
								opacity: 1 
					&:hover
						background: #F3F3F3 
						.car_img
							.red_car
								opacity: 1 
					.car_img
						position: relative
						width: 207px 
						height: 115px 
						display: block 
						img
							position: absolute
							top: 0px
							left: 0px
							right: 0px
							bottom: 0px
							margin: auto
							max-width: 70% 
							max-height: 70%  	
							-webkit-transition: .3s all 
							-moz-transition: .3s all 
							-ms-transition: .3s all 
							-o-transition: .3s all 
							transition: .3s all 
						.blue_car
							opacity: 1 		 
						.red_car
							opacity: 0 
							z-index: 2
					span
						position: relative
						width: calc(100% - 222px)
						margin-left: auto 
						text-align: left
						font-weight: normal 
						font-size: 18px 
						line-height: 22px
						color: #00669A 
						margin: 0px  
						padding-left: 23px 



.calculator
	.col
		width: 33.333% 
		-ms-flex-preferred-size:  auto
		flex-basis: auto
		-ms-flex-positive: 0
		flex-grow: 0
	.col_title
		position: relative
		font-weight: bold 
		font-size: 24px 
		line-height: 1
		color: #353535 
		margin-bottom: 18px 
		text-align: left
		width: 100%  
	.type_col
		.col_title
			padding-left: 45px 
	.types_list
		position: relative
		width: 100% 
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-ms-flex-wrap: wrap
		flex-wrap: wrap	
		li
			position: relative
			width: 50%
			padding-left: 5px 
			padding-right: 5px 
			margin-bottom: 20px  
			color: #00669A 
			font-size: 18px 
			line-height: 24px
			font-weight: normal  
			cursor: pointer
			text-decoration: none
			&.active
				p
					color: #b10707 
				.icon
					&:before
						opacity: .5 
			&:hover
				p
					color: #b10707 
				.icon
					&:before
						opacity: .5 
			.icon
				position: relative
				width: 100%
				max-width: 145px 
				height: 115px
				display: block 
				margin: auto
				text-align: center
				-webkit-transition: 0.3s all
				-moz-transition: 0.3s all
				-ms-transition: 0.3s all
				-o-transition: 0.3s all
				transition: 0.3s all
				margin-bottom: 3px 
				&:before
					content: "" 
					display: block 
					width: 100% 
					height: 100% 
					width: 119px 
					height: 104px 
					background: url("../img/hover_icon.png") no-repeat center center
					-webkit-background-size: 100% 100% 
					-o-background-size: 100% 100% 
					background-size: 100% 100%  
					position: absolute
					top: -50px
					left: -50px
					right: -50px
					bottom: -50px
					margin: auto
					opacity: 0   
					-webkit-transition: .3s all 
					-moz-transition: .3s all 
					-ms-transition: .3s all 
					-o-transition: .3s all 
					transition: .3s all   
			p
				font-size: 16px 
				line-height: 24px 
				color: #00669A 
				margin: 0px 
				text-decoration: none
				-webkit-transition: 0.3s all
				-moz-transition: 0.3s all
				-ms-transition: 0.3s all
				-o-transition: 0.3s all
				transition: 0.3s all
				&:hover
					color: #b10707 
	.vars_title
		position: relative
		z-index: 2 
		width: 100% 
		-webkit-border-radius: 50em 
		border-radius: 50em 
		text-align: left
		font-weight: normal 
		font-size: 18px 
		line-height: 22px
		color: #FFF
		margin: 0px 
		&:before
			content: "" 
			display: block 
			width: 100% 
			height: 50%
			position: absolute
			left: 0px 
			top: 50%
			background: #f0f0f0   
			z-index: -1 
		span
			position: relative
			display: block 
			width: 100% 
			z-index: 2 
			padding: 10px 22px
			background: #00669A 
			-webkit-border-radius: 50em 
			border-radius: 50em 
	.vars_list
		position: relative
		width: 100% 
		background: #F0F0F0 
		padding: 23px 
		list-style: none
		-webkit-border-radius: 0px 0px 5px 5px 
		border-radius: 0px 0px 5px 5px 
		li
			position: relative
			width: 100% 
			margin-bottom: 20px 
		label
			position: relative
			width: 100% 
			display: inline-block
			vertical-align: top
			padding-left: 32px 
			input
				opacity: 0
				position: absolute
				top: 0px
				left: 0px
				z-index: -1
			input:checked + .icon
				border-color: #00669A 
				&:before
					-webkit-transform: scale(1) 
					-moz-transform: scale(1) 
					-ms-transform: scale(1) 
					-o-transform: scale(1) 
					transform: scale(1) 
			input:checked + .icon + p 
				color: #00669A 
			.icon
				position: absolute
				top: 6px
				left: 0px
				display: block 
				width: 15px 
				height: 15px 
				-webkit-border-radius: 50% 
				border-radius: 50% 
				border: 1px solid #757575
				background: none
				-webkit-transition: .3s all 
				-moz-transition: .3s all 
				-ms-transition: .3s all 
				-o-transition: .3s all 
				transition: .3s all  
				&:before
					content: "" 
					display: block 
					width: 9px 
					height: 9px
					-webkit-border-radius: 50% 
					border-radius: 50%
					position: absolute
					top: 0px
					left: 0px
					right: 0px
					bottom: 0px
					margin: auto
					background: #00669A 
					-webkit-transition: .3s all 
					-moz-transition: .3s all 
					-ms-transition: .3s all 
					-o-transition: .3s all 
					transition: .3s all   
					-webkit-transform: scale(0) 
					-moz-transform: scale(0) 
					-ms-transform: scale(0) 
					-o-transform: scale(0) 
					transform: scale(0)    
			p
				cursor: pointer
				font-weight: bold 
				font-size: 18px 
				line-height: 24px
				color: #8C8C8C 
				margin: 0px
				-webkit-transition: .3s all 
				-moz-transition: .3s all 
				-ms-transition: .3s all 
				-o-transition: .3s all 
				transition: .3s all  
				span
					text-transform: none
					font-weight: normal
					display: block 
		.checkbox_li
			.icon
				-webkit-border-radius: 2px 
				border-radius: 2px 
				&:before
					-webkit-border-radius: 2px 
					border-radius: 2px 
	.choosed_list
		position: relative
		width: 100% 
		list-style: none
		margin-bottom: 0px 
		li
			position: relative
			padding-left: 32px
			margin-bottom: 20px  
			font-size: 18px 
			line-height: 24px
			font-weight: bold 
			color: #00669A 
			max-width: 300px 
			cursor: pointer
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all 
			&:hover
				color: #BE3131 
			span
				font-weight: normal 
				display: block 
				text-decoration: none
			&:before
				content: "" 
				display: block 
				width: 15px 
				height: 10px 
				background: url("../img/blue_check_icon.png") no-repeat center center
				-webkit-background-size: 100% 100% 
				-o-background-size: 100% 100% 
				background-size: 100% 100%  
				position: absolute
				top: 8px 
				left: 3px 
	.del_block
		position: relative
		width: 100% 
		text-align: right
		margin-bottom: 55px 
		.del_all
			position: relative
			padding: 0px
			display: inline-block
			vertical-align: top
			font-weight: normal 
			font-size: 18px 
			line-height: 20px
			border: none 
			border-bottom: 1px solid #b10707
			color: #B10707    
			background: none 
			&:hover
				color: #000 
				border-color: #000 
	.actions_list
		position: relative
		width: 100% 
		list-style: none
		margin-bottom: 65px 
		li
			width: 100% 
			margin-bottom: 10px
			label
				position: relative
				width: auto 
				padding-left: 32px 
				input
					position: absolute
					top: 0px
					left: 0px
					z-index: -1
					opacity: 0    
				input:checked + .icon
					border-color: #be3131
					&:before
						-webkit-transform: scale(1) 
						-moz-transform: scale(1) 
						-ms-transform: scale(1) 
						-o-transform: scale(1) 
						transform: scale(1) 
				.icon
					position: absolute
					top: 0px
					left: 0px
					display: block 
					width: 21px 
					height: 21px 
					-webkit-border-radius: 4px
					border-radius: 4px
					border: 1px solid #bababa
					background: none
					-webkit-transition: .3s all 
					-moz-transition: .3s all 
					-ms-transition: .3s all 
					-o-transition: .3s all 
					transition: .3s all  
					cursor: pointer
					&:before
						content: "" 
						display: block 
						width: 15px 
						height: 10px
						position: absolute
						top: 0px
						left: 0px
						right: 0px
						bottom: 0px
						margin: auto
						-webkit-transition: .3s all 
						-moz-transition: .3s all 
						-ms-transition: .3s all 
						-o-transition: .3s all 
						transition: .3s all   
						background: url("../img/red_check_icon.png") no-repeat center center
						-webkit-background-size: 100% 100% 
						-o-background-size: 100% 100% 
						background-size: 100% 100% 
						-webkit-transform: scale(0) 
						-moz-transform: scale(0) 
						-ms-transform: scale(0) 
						-o-transform: scale(0) 
						transform: scale(0)  
				span
					display: inline-block
					vertical-align: top
					cursor: pointer  
		.title_li
			font-weight: bold 
			font-size: 18px 
			line-height: 1
			color: #353535 
	.vars_col
		border-left: 1px solid #d7d7d7
		border-right: 1px solid #D7D7D7 
	.price_block
		position: relative
		width: 100%  
		p
			font-weight: bold 
			font-size: 18px 
			line-height: 1
			color: #353535 
			margin-bottom: 5px 
		.price
			position: relative
			font-weight: normal 
			font-size: 18px 
			text-transform: uppercase
			color: #999A9A 
			margin: 0px
			strong
				color: #B10707  
				font-weight: bold 
				font-size: 72px
				line-height: 1  
		.old_price
			margin-bottom: 30px 
			.price
				strong
					color: #BDBDBD 
					font-size: 48px
					text-decoration: line-through  




.review_modal
	.modal-dialog
		-webkit-border-radius: 0px 
		border-radius: 0px 
		max-width: 800px 
		width: 100% 
		.modal-content
			-webkit-border-radius: 0px 
			border-radius: 0px 
		.modal-body
			padding: 28px
			padding-bottom: 38px  
			.title
				position: relative
				font-weight: bold 
				font-size: 30px 
				line-height: 1.1
				color: #2E2E2E 
				margin-bottom: 5px 
			p
				color: #2E2E2E 
				font-size: 24px 
				line-height: 30px
				margin-bottom: 5px  
			.comments_btn
				position: relative
				display: inline-block
				vertical-align: top
				color: #2780AC 
				text-decoration: underline
				padding: 0px
				border: none 
				background: none  
				&:hover
					color: #DC0030 

.review_form
	position: relative
	width: 100% 
	margin-top: 22px 
	label
		position: relative
		width: 100% 
		margin-bottom: 25px 
		textarea
			position: relative
			width: 100% 
			outline: none
			height: 120px 
			border: 1px solid #d3d3d3
			padding: 10px 15px
			resize: none    
			font-weight: normal 
			font-size: 16px 
			line-height: 24px
			color: #000
			text-align: left
			-webkit-transition: .3s all 
			-moz-transition: .3s all 
			-ms-transition: .3s all 
			-o-transition: .3s all 
			transition: .3s all   
			&:focus
				-webkit-box-shadow: 0px 10px 15px rgba(0,0,0,.15) 
				box-shadow: 0px 10px 15px rgba(0,0,0,.15) 
	.main_btn
		position: relative
		text-transform: none
		


















.test
	width: 100% 
	height: 500px 