@media screen and (min-width: 768px)
	.main_header
		.top_header 
			.header_tels
				display: flex !important

@media screen and (min-width: 992px)	
	.main_header .nav_block
		display: block !important 

@media screen and (min-width: 1200px)	
	.container
		max-width: 1332px
		width: 100%  






@media screen and (max-width: 1499px)	
	.main_section .main_img
		max-width: 1360px
		right: -100px  






@media screen and (max-width: 1359px)	
	.contacts_page .soc_list
		margin-right: 0px 
	.calculator 
		.calc_header 
			.title
				font-size: 40px 
				line-height: 40px 
			.multi_select
				max-width: 540px 
				.change_btn 
					.text
						padding-right: 40px 








@media screen and (max-width: 1199px)	
	.main_header 
		padding-bottom: 0px 
		&.index_header
			position: relative
		&.with_video
			.top_header 
				.logo 
					.white_logo
						display: none
					.dark_logo
						display: block 
				.header_tels 
					.text 
						.tel_info, .time_info
							color: #0c0c0c 
					ul 
						&:before
							background: url(../img/tel_icon.png) no-repeat center center
							-webkit-background-size: 100% 100%
							-o-background-size: 100% 100%
							background-size: 100% 100%
						li 
							color: #0c0c0c
							a
								color: #0c0c0c
		.nav_block 
			position: absolute
			z-index: 30 
			left: 0px
			height: 68px 
			top: 100%  
			margin-top: -34px 
			&.fixed_nav
				top: 0px
				margin-top: 0px 
			.nav li a
				padding-left: 10px 
				padding-right: 10px 
				font-size: 14px
		.top_header 
			.container
				padding-top: 15px 
				padding-bottom: 55px 
			.header_tels 
				.mobile_info
					display: block 
					padding-top: 4px 
				ul

					max-width: 100% 

					margin-left: auto 
					li
						text-align: right
						a
							font-size: 22px 
							line-height: 30px
							font-weight: bold 
							color: #0c0c0c  
				.text 
					width: 100% 
					max-width: 100% 
					margin: 0px
					margin-bottom: 5px  
					.time_info
						display: none
					.tel_info	
						font-size: 18px 
						font-weight: bold 
						color: #0c0c0c 
	.contacts_section 
		.inner
			padding-left: 30px 
			max-width: 480px 
	.main_section
		-webkit-background-size: auto 
		-o-background-size: auto 
		background-size: auto 
		.container
			padding-top: 80px 
			padding-bottom: 80px 
			min-height: 0px
			height: auto 
			padding-bottom: 420px 
		.main_img
			position: absolute
	.rust_section
		.tablet_br
			display: block		
		.video_link
			height: 320px 
	.about_technology .item iframe
		height: 254px 
	.section_about 
		.car_img
			position: relative
			margin: 0px
			left: 0px
			bottom: 0px  
	.news_item 
		.item_text 
			.title
				font-size: 18px 
				line-height: 26px
			p
				font-size: 16px 
				line-height: 26px
		.date
			font-size: 16px 
			line-height: 26px 
	.main_section.with_video 
		height: auto 
		min-height: 100vh 
		.container
			padding-top: 100px 
			padding-bottom: 100px 
	.inner_page_header	
		margin-top: 0px 		
	.centers_section
		.top_wrapper
			max-width: 50%
	.centers_section
		-webkit-background-size: 500px 
		-o-background-size: 500px 
		background-size: 500px 
	.schemes_wrapper 
		.item 
			.fancybox
				height: 252px 
				margin-bottom: 10px 
			p
				font-size: 16px 
				line-height: 26px 
				margin-bottom: 5px 
			a
				font-size: 16px 
	.inner_page_header .btns_block
		position: relative
		right: auto 
		bottom: auto 
		margin-top: 20px 
		.main_btn, .white_btn
			font-size: 16px 
	.main_section.with_video
		min-height: calc(100vh - 214px) 
	.news_page
		.news_item
			width: calc(33.333% - 20px) 
		.news_item:nth-of-type(4n+4)
			margin-right: 30px 
		.news_item:nth-of-type(3n+3)
			margin-right: 0px 
	.prices_section
		-webkit-background-size: 450px 
		-o-background-size: 450px 
		background-size: 450px 
	.typography 
		table 
			th, td
				padding: 10px 
				font-size: 16px 
		.price_table 
			td:last-of-type
				font-size: 20px 
		iframe
			height: 340px 
	.price_item_section 
		p
			font-size: 16px 
			line-height: 26px 
			margin-bottom: 20px 
	.price_item_section .sidebar .title
		font-size: 26px 
	.team_section .item
		padding: 15px 
		.photo
			width: 120px 
			height: 120px 
		.text
			width: calc(100% - 120px) 
			padding-left: 20px 
	.work_examples .example_item 
		.link
			font-size: 16px 
			line-height: 24px
		.img
			margin-bottom: 7px 
	.faq_page .spoiler_item .spoiler
		font-size: 18px 
		line-height: 28px
	.contacts_page .soc_list
		margin-right: 0px 
		width: 100% 
		max-width: 100% 
		margin-top: 30px 
	.contacts_page #map
		height: 600px 
	.calculator 
		.calc_header 
			display: block 
			text-align: center
			padding-top: 60px 
			padding-bottom: 50px 
			.title	
				width: auto
				display: inline-block
				vertical-align: top
				max-width: 100%
				font-size: 36px 
				line-height: 36px 
				margin-bottom: 55px 
				padding-left: 145px 
				&:before
					width: 130px 
					height: 111px 
				br
					display: none 
			.multi_select
				max-width: 595px 
				margin: auto 








/* Medium Devices, Desktops */
@media screen and (max-width: 991px)	
	.main_header 
		-webkit-box-shadow: 0px 5px 20px rgba(0,0,0,.16) 
		box-shadow: 0px 5px 20px rgba(0,0,0,.16) 
		&.index_header
			.top_header 
				.container
					padding-bottom: 15px 
					padding-top: 15px 
				.logo
					max-width: 320px 
					height: 61px 
					position: absolute
					top: 0px
					bottom: 0px
					left: 115px
					margin: auto   
			.nav_block
				background: #00669A 
				top: 130px
				z-index: 32  
				&.fixed_nav
					top: 130px 
				.nav
					padding: 0px 
					li
						a
							text-align: left
						.dropdown_menu
							-webkit-border-radius: 0px 
							border-radius: 0px 
							padding-bottom: 0px 
					li:last-of-type 
						a
							-webkit-border-radius: 0px 
							border-radius: 0px 
				.container
					padding: 0px 
			.header_tels
				ul
					&:before
						display: none 
			.toggle_menu
				-webkit-order: -1 
				-ms-order: -1 
				order: -1 
				position: relative
				height: 96px
				width: 96px 
				top: auto
				margin: 0px  
				background: none
				left: -15px 
				right: auto 
				&.active
					background: #00669A 
					.sandwich
						-webkit-transform: scale(1) 
						-moz-transform: scale(1) 
						-ms-transform: scale(1) 
						-o-transform: scale(1) 
						transform: scale(1) 
						.sw-bottom
							top: 10px
						span
							background: #FFF 
							height: 5px  
				.sandwich 
					width: 50px 
					span
						background: #00669A 
						height: 7px 
		.top_header 
			.logo
				max-width: 343px 
			.header_tels
				max-width: calc(100% - 345px) 
		.nav_block	
			margin: 0px
			position: absolute 
			top: 100%
			height: auto 
			display: none 
			margin: 0px 
			bottom: auto 
			overflow: visible
			-webkit-box-shadow: 0px 5px 20px rgba(0,0,0,.16) 
			box-shadow: 0px 5px 20px rgba(0,0,0,.16)
			&.fixed_nav
				position: absolute
				top: 100% 
			.container
				&:before, &:after
					display: none 
			.nav
				display: block 
				width: 100% 
				padding-top: 34px 
				li
					display: block 
					width: 100% 
					border: none
					&:before
						display: none 
					a
						font-size: 18px 
						padding-left: 15px 
						padding-right: 15px 
					.dropdown_menu
						position: relative
						width: 100% 
						max-width: 100% 
						min-width: 100%
						background: #044F76 
						padding-left: 0px
						padding-right: 0px  
						-moz-column-count: 2
						-webkit-column-count: 2
						column-count: 2
						-webkit-box-shadow: none 
						box-shadow: none 
						li
							vertical-align: top
							display: inline-block
							a
								color: #A5C5D6 
								padding-left: 48px 
								&:before
									content: "" 
									display: block 
									width: 7px
									height: 1px
									background: #9EBFD0 
									position: absolute
									top: 22px
									left: 30px
									margin: auto    
								&:hover
									background: #094260 
				li:last-of-type
					a
						-webkit-border-radius: 0px 0px 5px 5px 
						border-radius: 0px 0px 5px 5px 
				li:first-of-type
					a
						-webkit-border-radius: 0px 
						border-radius: 0px 
	.toggle_menu
		display: block 
	.main_footer
		.col
			width: auto 
		.copyright, p 
			padding-left: 0px
	.contacts_section 
		.inner
			padding-left: 30px 
			max-width: 720px
			padding-left: 15px
			padding-right: 15px 
			margin: auto
		.wrapper
			width: 100% 
			max-width: 100% 
		#map
			width: 100% 
			max-width: 100% 
			height: 860px 
	.main_section
		&:before
			width: 431px 
			height: 306px 
			right: -30px 
		.container
			padding-bottom: 450px 
		.main_img
			max-width: 1160px
			right: -110px  
			bottom: 50px 
	.page_wrapper .section_title
		font-size: 42px 
		line-height: 1.2 
	.rust_section 
		padding-bottom: 80px 
		.col
			width: 100% 
			max-width: 100% 
		.section_title
			margin-bottom: 30px 
		.video_link
			height: 420px 
		figcaption
			font-weight: 500 
	.service_section
		padding-top: 70px 
		padding-bottom: 220px 
		-webkit-background-size: 480px 
		-o-background-size: 480px 
		background-size: 480px 
		.calc_btn
			margin-top: 30px 
		.service_item
			width: 50%
			display: -webkit-box
			display: -moz-box
			display: -ms-flexbox
			display: -webkit-flex
			display: flex
			-ms-flex-wrap: wrap
			flex-wrap: wrap	
			-webkit-align-content: flex-end
			align-content: flex-end
			.icon
				height: auto 
				img
					position: relative
			p
				min-height: 44px 
		.service_item:last-of-type
			width: 100%  
		.service_item:nth-of-type(3), .service_item:nth-of-type(5), .service_item:nth-of-type(6), .service_item:nth-of-type(9)
			.icon
				img
					top: 0px 
	.about_technology 
		.section_title
			text-align: center
		.item 
			width: 100% 
			max-width: 100% 
			p
				font-size: 18px 
				line-height: 24px
				max-width: 340px  
			iframe
				height: 360px
	.garant_section
		ul
			width: 100% 
			max-width: 100% 
			li
				margin-bottom: 25px 
	.gallery_section
		padding-top: 65px 
		.section_title
			margin-bottom: 30px 
	.gallery_slider
		width: 100% 
		max-width: 100% 
		margin-bottom: 20px 
		.swiper-slide
			height: 486px 
	.gallery_thumbnails
		width: 100% 
		max-width: 100% 
		height: 88px 
		.swiper-slide
			height: 88px 
	.section_about 
		-webkit-background-size: 500px 
		-o-background-size: 500px 
		background-size: 500px 
	.news_section 
		padding-top: 80px 
		.section_title
			margin-bottom: 35px 
		.news_item
			width: calc(50% - 15px)
		.news_item:nth-of-type(3n+3)
			margin-right: 30px 	 
		.news_item:nth-of-type(2n+2)
			margin-right: 0px
		.news_item:nth-of-type(1n+3)
			display: none 	
	.spoiler_item 
		.spoiler
			font-size: 18px 
			padding-left: 18px 
	.inner_page_header .page_title
		font-size: 42px 
		line-height: 1.1 		
	.centers_section
		-webkit-background-size: 350px 
		-o-background-size: 350px 
		background-size: 350px 
		.col
			width: 100% 
			max-width: 100% 
			-ms-flex-preferred-size: auto
			flex-basis: auto
			-ms-flex-positive: 0
			flex-grow: 0
		.price_btn
			margin-bottom: 40px 
			margin-top: 30px 
		.video_block 
			iframe, div
				width: 48%
				height: 186px 
	.about_page 
		.car_img
			display: none 	
	.schemes_wrapper
		.item
			width: calc(50% - 15px)
			.fancybox
				height: 276px 
		.item:nth-of-type(3n+3)
			margin-right: 30px 
		.item:nth-of-type(2n+2)
			margin-right: 0px 
	.gallery_section_about
		-webkit-background-size: 500px 
		-o-background-size: 500px 
		background-size: 500px 
	.sidebar
		display: none 
	.faq_page 
		.content
			width: 100% 
			max-width: 100% 
		.spoiler_item 
			.spoiler
				font-size: 18px 
				padding-left: 18px 
	.materials_page 
		.materials_list 
			li 
				font-size: 18px 
				.icon
					max-width: 80%
					margin: auto
					height: 200px  
				a
					font-size: 18px 
	.question_form 
		.col
			width: 100% 
			max-width: 100% 
			margin-right: 0px
		.check_text
			br
				display: none 
	.main_header.index_header .nav_block .nav
		-webkit-box-shadow: none 
		box-shadow: none 
	.main_section.with_video
		min-height: calc(100vh - 174px) 	
	.news_page
		.news_item
			width: calc(50% - 15px) 
		.news_item:nth-of-type(4n+4)
			margin-right: 30px 
		.news_item:nth-of-type(3n+3)
			margin-right: 30px 
		.news_item:nth-of-type(2n+2)
			margin-right: 0px 
	.news_item_page .float_img
		max-width: 380px 
	.cars_type_list, .typography .cars_type_list
		li
			width: 50%
			.calc_btn
				margin-top: 20px 
		.btn_li
			width: 100% 
	.price_item_section .content
		width: 100% 
		max-width: 100% 
	.price_item_section 
		-webkit-background-size: 400px 
		-o-background-size: 400px 
		background-size: 400px 
	.typography iframe
		height: 440px 
	.team_section .item 
		.photo
			width: 120px 
			height: 120px 
			margin: auto
			margin-bottom: 15px 
		.text
			width: 100% 
			padding-left: 0px 
			text-align: center
		.stars_list 
			-webkit-justify-content: center
			justify-content: center
	.service_item_section 
		-webkit-background-size: 450px 
		-o-background-size: 450px 
		background-size: 450px 
		.content
			width: 100% 
			max-width: 100% 
			h2
				font-size: 32px 
				margin-bottom: 30px 
	.faq_page .spoiler_item .spoiler
		font-size: 20px 
	.page_pagination, .typography .page_pagination
		li a
			min-width: 40px 
			height: 40px 
			font-size: 20px 
			line-height: 36px 
		.dots
			line-height: 40px
			height: 40px  
	.contacts_page 
		.wrapper
			padding-left: 240px 
			img
				max-width: 180px 
	.calc_section
		padding-top: 0px 
	.calculator 
		.calc_header 
			width: calc(100% + 30px) 
			margin-left: -15px 
			margin-right: -15px 
			-webkit-border-radius: 0px 
			border-radius: 0px 
			padding: 15px 
			padding-top: 40px 
			padding-bottom: 20px 
			.title
				text-align: left
			.multi_select 
				.change_btn
					height: auto 
					min-height: 115px 
					display: block
					padding: 18px 
					padding-bottom: 30px 
					.text
						width: 100% 
						max-width: 100% 
					.car_img img			
						right: auto 
	.service_item .icon:before
		bottom: 0px
		top: -50px 
		width: 200px 
		height: 172px
		-webkit-background-size: auto 100% 
		-o-background-size: auto 100% 
		background-size: auto 100% 
	.calc_section
		background: #FFF 
		padding-bottom: 90px 
	.calculator 
		.col
			width: 100% 
			max-width: 100% 
		.type_col
			border-bottom: 1px solid #cbcbcb
			padding-bottom: 20px 
			margin-bottom: 30px 
		.vars_col
			border: none
			margin-bottom: 40px  
		.choosed_col
			.wrap
				max-width: 400px 
				margin-left: auto 
		.price_block 
			display: -webkit-box
			display: -moz-box
			display: -ms-flexbox
			display: -webkit-flex
			display: flex
			-ms-flex-wrap: wrap
			flex-wrap: wrap	
			-webkit-justify-content: space-between
			justify-content: space-between
		.choosed_list li
			max-width: 100% 
	.calculator .types_list li
		width: 25% 
	.calculator .type_col .col_title
		padding-left: 0px
		





/* Small Devices, Tablets */
@media screen and (max-width: 767px)
	.container
		width: 100% 
		max-width: 100% 
	.page_wrapper
		padding-top: 70px 
	.main_header
		position: fixed
		background: #FFF 
		top: 0px
		left: 0px  
		z-index: 30 
		-webkit-box-shadow: 0px 5px 18px rgba(0,0,0,.2) 
		box-shadow: 0px 5px 18px rgba(0,0,0,.2) 
		&.with_video
			.top_header
				.logo
					img
						margin: auto
				.header_tels
					.text 
						.tel_info  
							color: #FFF 
					ul
						li
							color: #fff
							a
								color: #FFF 
								&:hover
									color: #FFF 
		&.index_header
			position: fixed
			top: 0px
			left: 0px  
			background: #FFF 
			.nav_block
				top: 100% 
				&.fixed_nav
					top: 100% 
			.top_header
				position: relative
				.container
					padding: 0px 
				.logo
					position: relative
					top: auto 
					height: 100% 
					left: auto 
					width: calc(100% - 140px)
					max-width: 100%
					max-height: 70px
					margin: 0px 
				.toggle_menu
					position: relative
					top: 0px
					left: 0px
					width: 70px 
					height: 70px
					-webkit-border-radius: 0px 
					border-radius: 0px    
					-webkit-order: -1 
					-ms-order: -1 
					order: -1 
					background: #00669A 
					margin: 0px
					.sandwich 
						width: 46px 
						span
							background: #FFF 
							height: 5px 
		.top_header 
			.container
				padding: 0px
			.mobile_tel_btn
				display: block 
			.header_tels
				display: none 
				background: #005987 
				max-width: 305px 
				position: absolute
				top: 100% 
				right: 0px
				padding: 24px
				padding-bottom: 20px 
				text-align: left
				-webkit-border-radius: 0px 0px 0px 5px 
				border-radius: 0px 0px 0px 5px 
				.text 
					.tel_info  
						color: #FFF 
						font-size: 18px 
						text-align: left
						span
							display: none
				ul
					padding: 0px
					&:before
						display: none
					li
						text-align: left
						width: 100% 
						color: #FFF 
						a
							color: #FFF 
							font-size: 22px 
							&:hover
								color: #FFF 
				.mobile_info
					color: #FFF 
					font-size: 16px 
			.logo
				width: calc(100% - 140px)
				max-width: 100% 
				max-height: 70px
				padding: 10px 15px 
				text-align: center
				img
					max-width: 100% 
					max-height: 50px
		.nav_block 
			-webkit-border-radius: 0px 
			border-radius: 0px 
			max-height: calc(100vh - 70px) 
			overflow: auto
			-webkit-box-shadow: 0px 5px 15px rgba(0,0,0,.2) 
			box-shadow: 0px 5px 15px rgba(0,0,0,.2) 
			.container
				padding: 0px 
			.nav
				-webkit-border-radius: 0px 
				border-radius: 0px 
				padding: 0px 
				li
					a
						text-align: left
						font-size: 18px 
						padding-top: 15px 
						padding-bottom: 15px 
					.dropdown_menu

						li
							a
								padding-left: 38px
								&:before
									left: 15px 
	.toggle_menu
		position: relative
		top: 0px
		left: 0px
		width: 70px 
		height: 70px
		-webkit-border-radius: 0px 
		border-radius: 0px    
		-webkit-order: -1 
		-ms-order: -1 
		order: -1 
		margin: 0px
		.sandwich 
			width: 46px 
			span
				background: #FFF 
				height: 5px 
	.main_header .nav_block .nav > li:first-of-type .dropdown_menu
		min-width: 0px 
	.to_top
		width: 52px 
		height: 46px 
		&:before
			width: 30px 
			height: 18px 
			-webkit-background-size: 100% 
			-o-background-size: 100% 
			background-size: 100% 
	.page_wrapper .section_title
		font-size: 36px 
		line-height: 1.2 
	.contacts_section 
		.inner
			max-width: 100% 
			padding-top: 35px 
			padding-bottom: 35px 
		.section_title
			font-size: 30px 
			line-height: 1.2 
			margin-bottom: 40px 
		.place, .time
			font-size: 16px 
			line-height: 22px 
	.contacts_section #map
		height: 500px 
	#map 
		.ymaps-2-1-75-islets_balloon_layout_panel
			margin-left: 0px 
	.main_section 
		.container
			padding-top: 35px 
			padding-bottom: 300px 
		.main_title
			font-size: 30px 
			line-height: 36px
			margin-bottom: 25px 
		.main_img
			max-width: 800px 
			left: -200px 
			right: -80px 
			margin: auto
			bottom: 0px 
	.page_wrapper .section_title
		font-size: 30px
	.service_section 
		.service_item:last-of-type
			.icon
				max-width: 50%
				margin-left: auto
				margin-right: auto
	.about_technology 
		padding-top: 60px 
		padding-bottom: 40px 
		.section_title
			text-align: center
		.item 
			width: 100% 
			max-width: 100% 
			p
				font-size: 18px 
				line-height: 24px
				max-width: 340px  
			iframe
				height: 320px
	.main_section.with_video 
		min-height: calc(100vh - 70px) 
	.inner_page_header 
		display: none 
		.page_title
			font-size: 32px 
			line-height: 1.1 		
	.centers_section
		.top_wrapper
			max-width: 100%
		.antikor_center
			position: relative
			margin: 0px
			margin-bottom: 20px 
			max-width: 100% 
			width: auto 
			left: auto  
	.centers_section 
		.slider_title
			font-size: 20px 
		.mid_wrapper
			padding-top: 0px 
		h3
			font-size: 24px 
	.schemes_wrapper
		.item
			.fancybox
				height: 236px 
	.materials_page 
		.materials_list 
			li 
				width: 50% 
	.materials_page
		padding-bottom: 80px 
	.typography
		.gallery_block
			> .fancybox, > img
				width: calc(50% - 15px)
			> .fancybox:nth-of-type(4n+4), > img:nth-of-type(4n+4)
				margin-right: 30px 
			> .fancybox:nth-of-type(2n+2), > img:nth-of-type(2n+2)
				margin-right: 0px 
	.news_item_page
		.mobile_page_title
			display: block 
	.prices_section, .inner_service_section
		-webkit-background-size: 300px 
		-o-background-size: 300px 
		background-size: 300px 		
		padding-bottom: 150px 
	.inner_service_section 
		padding-top: 40px 
		.title
			font-size: 26px 
	.typography 
		table
			margin-bottom: 25px 
		.price_table
			display: block 
			tbody, tr, td
				display: block 
				width: 100% 
				text-align: center
			tr
				border: 1px solid #DFDFDF
				border-bottom: none
			tr:last-of-type
				border-bottom: 1px solid #DFDFDF
			td
				border: none 
			td:first-of-type, td:last-of-type
				width: 100% 
				background: none 
	.service_item_section 
		.gallery_block 
			.fancybox:nth-of-type(3n+3)			
				margin-right: 30px 
			.fancybox:nth-of-type(2n+2)			
				margin-right: 0px 
	.faq_page .question_form
		margin-top: 40px
	.contacts_page 
		.wrapper
			padding-left: 0px 
			img
				display: none
	.contacts_page #map
		height: 500px 
	.centers_wrapper .slider_title
		font-size: 20px
	.calculator .calc_header .multi_select .cars_list li span
		padding-left: 5px 
	.calculator .choosed_col .wrap
		max-width: 100% 	
	.calculator .price_block
		display: block
	.calculator .del_block
		text-align: left
		padding-left: 32px 		






@media screen and (max-width: 575px)
	.main_header .nav_block .nav li .dropdown_menu
		-moz-column-count: 1
		-webkit-column-count: 1
		column-count: 1
		overflow: hidden
		max-height: none !important 
		li
			display: block 
			width: 100% 
	.main_header.index_header .nav_block .nav li .dropdown_menu
		padding-bottom: 10px 
	.main_footer 
		.col
			width: 100% 
			max-width: 100% 
		.col:first-of-type
			text-align: left
			margin-bottom: 30px 
	.main_section 
		.container
			padding-top: 35px 
			padding-bottom: 250px 
		.main_img
			max-width: 700px 
			left: -200px 
			right: -80px 
			margin: auto
			bottom: 0px 
	.rust_section .video_link
		height: 360px 
	.price_btn
		font-size: 17px 
		line-height: 19px
		padding: 3px 
		span
			padding: 8px 
			padding-left: 120px 
			padding-right: 15px 
		figure
			margin-bottom: 50px 
		img
			max-width: 106px 
	.calc_btn
		font-size: 20px 
		img
			max-width: 102px 
		span
			padding-left: 110px 
	.about_technology .item iframe
		height: 250px 
	.gallery_slider
		width: calc(100% + 30px)
		max-width: none 
		margin-left: -15px 
		margin-right: -15px  
		.prev_slide, .next_slide
			width: 59px 
	.section_about 
		-webkit-background-size: 310px 
		-o-background-size: 310px 
		background-size: 310px 
		.car_img
			max-width: 100% 
	.news_section 
		padding-top: 70px 
		padding-bottom: 40px 
		.section_title
			margin-bottom: 30px 
		.news_item
			width: 100%
			margin-right: 0px 
		.news_item:nth-of-type(3n+3)
			margin-right: 0px 	 
		.news_item:nth-of-type(2n+2)
			margin-right: 0px
		.news_item:nth-of-type(1n+3)
			display: none 	
	.centers_section 
		.video_block 
			iframe, div
				height: 260px 
				width: 100% 
	.schemes_wrapper
		.item	
			a
				line-height: 24px
	.page_wrapper h4
		font-size: 21px 
		br
			display: none
	.news_item_page .float_img
		float: none
		max-width: 100% 
		width: 100% 
		margin-right: 0px  
	.cars_type_list, .typography .cars_type_list
		li 
			margin-bottom: 30px 
			a .img_block
				height: 100px 				 		
	.typography iframe
		height: 250px 
	.price_item_section
		-webkit-background-size: 300px 
		-o-background-size: 300px 
		background-size: 300px 
	.team_section 
		padding-bottom: 60px 
		.item
			width: 100% 
			margin-right: 0px
			margin-bottom: 20px  
	.page_pagination, .typography .page_pagination 
		-webkit-justify-content: center
		justify-content: center
		.next, .prev
			display: none 
	.center_slider .prev_slide, .center_slider .next_slide
		width: 56px 
	.center_slider .swiper-slide a
		height: 180px
	.calculator .types_list li
		width: 50% 
	 





@media screen and (max-width: 479px)
	.soc_list
		-webkit-justify-content: space-between
		justify-content: space-between
		li
			margin-right: 0px 
	.main_section
		&:before
			width: 268px 
			height: 190px 
		.container
			padding-top: 35px 
			padding-bottom: 240px 
		.main_img
			max-width: 500px 
			right: -110px 
			bottom: 50px 
		.main_title
			br
				display: none 
	.rust_section 
		padding-top: 65px 
		.video_link
			height: 220px 
			&:after
				width: 52px 
				height: 52px 
		figcaption	
			font-size: 20px 
		figure
			margin-bottom: 40px 
		span
			padding-top: 8px 
			padding-bottom: 8px 
	.service_section 
		padding-bottom: 190px 
		-webkit-background-size: 320px 
		-o-background-size: 320px 
		background-size: 320px 
		.service_item 
			margin-bottom: 25px 
			p
				min-height: 44px 
				font-size: 14px 
				line-height: 18px 
		.section_title
			margin-bottom: 45px 
	.about_technology 
		.section_title		
			font-size: 24px 
		.item 
			iframe
				height: 220px 
	.garant_section 
		padding-top: 60px 
		padding-bottom: 50px 
		.section_title
			font-size: 24px 
			margin-bottom: 30px 
	.gallery_thumbnails
		height: 76px 
		.swiper-slide
			height: 76px 
	.news_item 
		padding-bottom: 50px 
		.item_text 
			.title
				margin-bottom: 20px 
	.faq_section
		-webkit-background-size: 500px 
		-o-background-size: 500px 
		background-size: 500px 			
	.section_about
		padding-top: 60px 
	.centers_section 
		padding-bottom: 200px 
		.video_block 
			iframe, div
				height: 220px 
	.schemes_wrapper
		.item	
			margin-right: 0px
			width: 100% 
			max-width: 100%  
			.fancybox
				height: 280px 
		.item:nth-of-type(3n+3)
			margin-right: 0px 
		.item:last-of-type
			margin-bottom: 0px
	.about_page
		padding-bottom: 60px 
	.gallery_section_about
		padding-bottom: 60px 
		background: #EFF2F5 
	.gallery_thumbnails .swiper-slide:after
		-webkit-background-size: 18px 
		-o-background-size: 18px 
		background-size: 18px 
	.materials_page 
		.materials_list 
			li 
				width: 50% 
				.icon
					max-width: 90%
					margin: auto
					height: 140px  
	.materials_page
		padding-bottom: 70px 
		.materials_list
			margin-bottom: 60px 
	.short_page_info 
		.strong_text
			font-size: 20px 
		h5
			font-size: 24px
			line-height: 32px 
	.question_form 
		.form_title
			font-size: 24px 
		.wrapper
			padding: 15px 
			padding-bottom: 25px 
		.input_title
			line-height: 24px
	.news_page
		.news_item
			width: 100%
			margin-right: 0px 
		.news_item:nth-of-type(4n+4)
			margin-right: 0px 
		.news_item:nth-of-type(3n+3)
			margin-right: 0px 
		.news_item:nth-of-type(2n+2)
			margin-right: 0px 
	.cars_type_list li a .img_block, .typography .cars_type_list li a .img_block
		height: 80px 
	.inner_service_section .short_page_info
		padding-top: 30px 	
	.work_examples .example_item
		width: 100% 
		margin-right: 0px
	.other_themes .title, .typography .other_themes .title
		font-size: 26px 		
	.service_item_section
		-webkit-background-size: 300px 
		-o-background-size: 300px 
		background-size: 300px 
		padding-bottom: 150px 
	.service_item_section
		.gallery_block 
			.fancybox
				width: calc(50% - 7.5px) 
				margin-right: 15px 
				margin-bottom: 15px 
			.fancybox:nth-of-type(4n+4)
				margin-right: 15px 
			.fancybox:nth-of-type(3n+3)
				margin-right: 15px 
			.fancybox:nth-of-type(2n+2)
				margin-right: 0px 
	.other_themes li a, .typography .other_themes li a
		font-size: 16px 
		line-height: 26px 
	.pdf_link, .typography .pdf_link
		font-size: 16px 
		line-height: 26px 
	.service_item_section .content h2
		font-size: 26px 
	.faq_page .spoiler_item .spoiler
		font-size: 18px 	
	.centers_wrapper .slider_title
		margin-bottom: 20px 
	.center_slider 
		margin-bottom: 40px 
		.swiper-slide a
			height: 220px 
	.centers_wrapper .slider_title
		font-size: 18px 
	.calculator .calc_header .title
		font-size: 28px 
		line-height: 28px 
		padding-left: 125px 
		margin-bottom: 35px 
		&:before
			width: 110px 
			height: 94px 
	.calculator .calc_header .multi_select .cars_list li 
		.car_img	
			width: 150px
		span
			width: calc(100% - 150px) 
	.service_item .icon:before
		display: none 
	.calculator .vars_list
		padding-left: 10px 
		padding-right: 15px 
	.calculator .calc_header .multi_select .cars_list li span
		padding-right: 10px 
	.review_modal .modal-dialog .modal-body p
		font-size: 20px 	

		


@media screen and (max-width: 399px)
	.rust_section .video_link
		height: 190px 
	.about_technology 
		.section_title		
			font-size: 24px 
		.item 
			iframe
				height: 180px 
	.gallery_thumbnails
		height: 64px 
		.swiper-slide
			height: 64px
	.centers_section 
		.video_block 
			iframe, div
				height: 200px 
	.schemes_wrapper
		.item	
			.fancybox
				height: 250px 
	.cars_type_list li a .img_block, .typography .cars_type_list li a .img_block
		height: 60px 
	.typography iframe
		height: 200px 
	.center_slider .swiper-slide a
		height: 190px 
	.calculator .calc_header .title
		font-size: 26px 	
		padding-left: 110px 





